/**
 * @license
 * MyFonts Webfont Build ID 2865123, 2014-08-18T15:42:26-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Gill Sans Std Bold by Monotype
 * URL: http://www.myfonts.com/fonts/mti/gill-sans/std-bold/
 * Copyright: Font software Copyright 2001 Adobe Systems Incorporated. Typeface designs Copyright The Monotype Corporation. All Rights Reserved.
 *
 * Webfont: Gill Sans Std Book by Monotype
 * URL: http://www.myfonts.com/fonts/mti/gill-sans/std-book/
 * Copyright: Font software Copyright 1990, 1991, 1998 Adobe Systems Incorporated. Typeface designs Copyright The Monotype Corporation. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2865123
 * Licensed pageviews: 250,000
 *
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2bb7e3"); */
@import url('https://fonts.googleapis.com/css?family=Lato');


@font-face {font-family: 'GillSansMTStd-Bold';src: url('../fonts/2BB7E3_0_0.eot');src: url('../fonts/2BB7E3_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2BB7E3_0_0.woff') format('woff'),url('../fonts/2BB7E3_0_0.ttf') format('truetype');}


@font-face {font-family: 'GillSansMTStd-Book';src: url('../fonts/2BB7E3_1_0.eot');src: url('../fonts/2BB7E3_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2BB7E3_1_0.woff') format('woff'),url('../fonts/2BB7E3_1_0.ttf') format('truetype');}
