
// IE 9 & below
.lte-ie9 {

  section.repertory-list,
  footer[role="contentinfo"] {
    &:before {
      top: -50px;
    }
  }

  .top-bar,
  #opera-love,
  .film-radio {
    &:after {
      bottom: -50px !important;
    }
  }

  .gallery {
    .orbit-container {
      //min-height: 400px !important;
    }
  }

}





// IE 8 & below
.lt-ie9 {
  img {
    width: auto;
  }

  .hide-for-small {
    display: inherit !important;
  }
  .show-for-small {
    display: none !important;
  }
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
    //min-width: 50em;
    *zoom: 1; }
    .row:before, .row:after {
      content: " ";
      display: table; }
    .row:after {
      clear: both; }
    .row.collapse .column,
    .row.collapse .columns {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      float: left; }
    .row .row {
      width: auto;
      margin-left: -0.9375em;
      margin-right: -0.9375em;
      margin-top: 0;
      margin-bottom: 0;
      max-width: none;
      *zoom: 1; }
      .row .row:before, .row .row:after {
        content: " ";
        display: table; }
      .row .row:after {
        clear: both; }
      .row .row.collapse {
        width: auto;
        margin: 0;
        max-width: none;
        *zoom: 1; }
        .row .row.collapse:before, .row .row.collapse:after {
          content: " ";
          display: table; }
        .row .row.collapse:after {
          clear: both; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left; }

  .large-1, .medium-1 {
    position: relative;
    width: 8.33333%; }

  .large-2, .medium-2 {
    position: relative;
    width: 16.66667%; }

  .large-3, .medium-3 {
    position: relative;
    width: 25%; }

  .large-4, .medium-4 {
    position: relative;
    width: 33.33333%; }

  .large-5, .medium-5 {
    position: relative;
    width: 41.66667%; }

  .large-6, .medium-6 {
    position: relative;
    width: 50%; }

  .large-7, .medium-7 {
    position: relative;
    width: 58.33333%; }

  .large-8, .medium-8 {
    position: relative;
    width: 66.66667%; }

  .large-9, .medium-9 {
    position: relative;
    width: 75%; }

  .large-10, .medium-10 {
    position: relative;
    width: 83.33333%; }

  .large-11, .medium-11 {
    position: relative;
    width: 91.66667%; }

  .large-12, .medium-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-0 {
    position: relative;
    margin-left: 0%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column.large-centered,
  .columns.large-centered,
  .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important; }



  // Block Grids

  [class*="block-grid-"] { display: block; overflow: hidden; padding: 0; }
  [class*="block-grid-"] > li { display: block; height: auto; float: left; }
  .large-block-grid-1 { margin: 0; }
  .large-block-grid-1 > li { width: 100%; padding: 0 0 15px; }
  .large-block-grid-2 { margin: 0 -15px; }
  .large-block-grid-2 > li { width: 50%; padding: 0 15px 15px; }
  .large-block-grid-2 > li:nth-child(2n+1) { clear: both; }
  .large-block-grid-3 { margin: 0 -12px; }
  .large-block-grid-3 > li { width: 33.33333%; padding: 0 12px 12px; }
  .large-block-grid-3 > li:nth-child(3n+1) { clear: both; }
  .large-block-grid-4 { margin: 0 -10px; }
  .large-block-grid-4 > li { width: 25%; padding: 0 10px 10px; }
  .large-block-grid-4 > li:nth-child(4n+1) { clear: both; }
  .large-block-grid-5 { margin: 0 -8px; }
  .large-block-grid-5 > li { width: 20%; padding: 0 8px 8px; }
  .large-block-grid-5 > li:nth-child(5n+1) { clear: both; }
  .large-block-grid-6 { margin: 0 -8px; }
  .large-block-grid-6 > li { width: 16.66667%; padding: 0 8px 8px; }
  .large-block-grid-6 > li:nth-child(6n+1) { clear: both; }
  .large-block-grid-7 { margin: 0 -8px; }
  .large-block-grid-7 > li { width: 14.28571%; padding: 0 8px 8px; }
  .large-block-grid-7 > li:nth-child(7n+1) { clear: both; }
  .large-block-grid-8 { margin: 0 -8px; }
  .large-block-grid-8 > li { width: 12.5%; padding: 0 8px 8px; }
  .large-block-grid-8 > li:nth-child(8n+1) { clear: both; }
  .large-block-grid-9 { margin: 0 -8px; }
  .large-block-grid-9 > li { width: 11.11111%; padding: 0 8px 8px; }
  .large-block-grid-9 > li:nth-child(9n+1) { clear: both; }
  .large-block-grid-10 { margin: 0 -8px; }
  .large-block-grid-10 > li { width: 10%; padding: 0 8px 8px; }
  .large-block-grid-10 > li:nth-child(10n+1) { clear: both; }
  .large-block-grid-11 { margin: 0 -8px; }
  .large-block-grid-11 > li { width: 9.09091%; padding: 0 8px 8px; }
  .large-block-grid-11 > li:nth-child(11n+1) { clear: both; }
  .large-block-grid-12 { margin: 0 -8px; }
  .large-block-grid-12 > li { width: 8.33333%; padding: 0 8px 8px; }
  .large-block-grid-12 > li:nth-child(12n+1) { clear: both; }


}
