/* Mixins & Placeholders */

%hidetext {
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
}

%ie-inline-block {
    *display: inline;
    zoom: 1;
}



// Fonts

%primary-reg {
	font-family: 'GillSansMTStd-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
%primary-bold {
	font-family: 'GillSansMTStd-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
%primary-italic {
	font-family: 'GillSansMTStd-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}
%secondary-reg {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
%secondary-bold {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}
%secondary-italic {
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}
%serif-reg {
	font-family: Georgia, serif;
}

// Typographic styles
%uppercase {
	text-transform: uppercase;
}
%uppercase-bold {
	text-transform: uppercase;
	@extend %primary-bold;
}


@mixin logo() {
	background: url(../images/logo.png) no-repeat 0 0;
	@media screen and (max-width: 600px) {
		background: url(../images/small-logo.png) no-repeat 0 0;
	}
	@media (min--moz-device-pixel-ratio: 1.3),
	     (-o-min-device-pixel-ratio: 2.6/2),
	     (-webkit-min-device-pixel-ratio: 1.3),
	     (min-device-pixel-ratio: 1.3),
	     (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */

		background: url(../images/logo-2x.png) no-repeat 0 0;
		background-size: 145px 61px;

		@media screen and (max-width: 600px) {
			background: url(../images/small-logo-2x.png) no-repeat 0 0;
			background-size: 95px 40px;
		}
	}
}


@mixin sprite-global($coords, $width, $height) {
	background: url(../images/sprite-global-1x.png) no-repeat $coords;
	@media (min--moz-device-pixel-ratio: 1.3),
	     (-o-min-device-pixel-ratio: 2.6/2),
	     (-webkit-min-device-pixel-ratio: 1.3),
	     (min-device-pixel-ratio: 1.3),
	     (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background: url(../images/sprite-global-2x.png) no-repeat $coords;
		background-size: 200px 700px;
	}
	width: $width;
	height: $height;
	display: block;

}

@mixin sprite-social($coords) {
	background: url(../images/sprite-social-1x.png) no-repeat $coords;
	@media (min--moz-device-pixel-ratio: 1.3),
	     (-o-min-device-pixel-ratio: 2.6/2),
	     (-webkit-min-device-pixel-ratio: 1.3),
	     (min-device-pixel-ratio: 1.3),
	     (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background: url(../images/sprite-social-2x.png) no-repeat $coords;
		background-size: 100px 400px;
	}

}


@mixin angle-bottom($width, $height, $position-y-val, $position-x-val, $background, $angle) {
	position: relative;
	  &:after {
	    content: "";
	    width: $width;
	    height: $height;
	    position: absolute;
	    bottom: $position-y-val;
	    left: $position-x-val;
	    z-index:0;
	    background: $background;
	    transform-origin: right center;
	    -moz-transform: skewY($angle);
	    -webkit-transform: skewY($angle);
	    -o-transform: skewY($angle);
	    -ms-transform: skewY($angle);
	    transform: skewY($angle);
		@media screen and (max-width: 640px) {
			max-height: 120px;
		}

	  }
}

@mixin angle-top($width, $height, $position-y-val, $position-x-val, $background, $angle) {
	position: relative;
	z-index: 1;
	  &:before {
	    content: "";
	    width: $width;
	    height: $height;
	    position: absolute;
	    top: $position-y-val;
	    left: $position-x-val;
	    z-index:0;
	    background: $background;
	    transform-origin: right center;
	    -moz-transform: skewY($angle);
	    -webkit-transform: skewY($angle);
	    -o-transform: skewY($angle);
	    -ms-transform: skewY($angle);
	    transform: skewY($angle);
	    @media screen and (max-width: 640px) {
			max-height: 120px;
		}
	  }
}