@charset "UTF-8";
/*
Theme Name: Portland Opera 2014
Version:
Description: Designed by Rally Group
Author: Rally Group
Author URI: http://rallygroup.com
*/
/**
 * @license
 * MyFonts Webfont Build ID 2865123, 2014-08-18T15:42:26-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Gill Sans Std Bold by Monotype
 * URL: http://www.myfonts.com/fonts/mti/gill-sans/std-bold/
 * Copyright: Font software Copyright 2001 Adobe Systems Incorporated. Typeface designs Copyright The Monotype Corporation. All Rights Reserved.
 *
 * Webfont: Gill Sans Std Book by Monotype
 * URL: http://www.myfonts.com/fonts/mti/gill-sans/std-book/
 * Copyright: Font software Copyright 1990, 1991, 1998 Adobe Systems Incorporated. Typeface designs Copyright The Monotype Corporation. All rights reserved.
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2865123
 * Licensed pageviews: 250,000
 *
 * © 2014 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2bb7e3"); */
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'GillSansMTStd-Bold';
  src: url("../fonts/2BB7E3_0_0.eot");
  src: url("../fonts/2BB7E3_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2BB7E3_0_0.woff") format("woff"), url("../fonts/2BB7E3_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'GillSansMTStd-Book';
  src: url("../fonts/2BB7E3_1_0.eot");
  src: url("../fonts/2BB7E3_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2BB7E3_1_0.woff") format("woff"), url("../fonts/2BB7E3_1_0.ttf") format("truetype");
}

/* Variables */
/* Mixins & Placeholders */
.top-bar .name a, #opera-love h2 .icon, .social-links li a {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

.btn-cta, .top-bar .menu > li, .menu-btn, .opera-love-section h3, .opera-love-section .more, .support-po a:not(.button), .support-po .intro p, .support-po .caption, .venue-obj .view-more, .expandable-content .panel h2, .expandable-content .inner-content h2, .ticket-info .inner-content h2, .production-content .title, .sidebar .tickets, .purchase-methods ul li, .pre-post-events h3, .giving-level h3, .film-radio h2, .film-radio a, .events-widget h3, .leadership-staff .directors li h5 + p, .leadership-staff .right a, .venues .medium-block-grid-3 ul li, .post-title, .entry-content h1, .entry-content h2, .entry-content blockquote p {
  font-family: 'GillSansMTStd-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1, .button, .sub-sections h3, .sub-sections .performance-details, .support-po h2, .venue-obj h3, .btn-photos, .ticket-info .inner-content .link-list li, .single-venue .getting-here h3, .single-venue .accessibility h3, .section.repertory-list .btn-cta, .production-media > ul li, .accordion .accordion-navigation > a, .accordion dd > a, .purchase-methods h3, .venues h3, .filters .filter-list li, .calendar .year-label, .post-item .post-meta .more, .pagination ul li, .entry-content h3, .content-section h3, .error404 .entry-content p, footer[role="contentinfo"] h4, footer[role="contentinfo"] .subscribe, h2, .btn-more, .leadership-staff .directors li h5, .post-item h2 {
  font-family: 'GillSansMTStd-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body, .alert-box p, #opera-love h2, .home-opera-lineup .production-obj h3, .pagename-venues .experience.section p, .single-production .production-content .excerpt p, .production-copy .excerpt, .production-extras .content em, .production-media .content em, .production-extras .content ul li, .production-media .content ul li, .production-nav li, .purchase-methods p, .purchase-methods address, .purchase-methods a, li.sponsor .website, .giving-level p, .events-widget .event-list li, .event-obj h4, .pre-and-post-shows .date, .highlight-obj h5, .highlight-obj h5 + span, .post-item .post-meta .date, .breadcrumbs li, .entry-content h5, .entry-content h6, .entry-content p.wp-caption-text, .content-section ul[class*='medium-block-grid-'] p, .content-section ul[class*='medium-block-grid-'] li, div.gform_wrapper label, div.gform_wrapper input[type="text"], .error404 .entry-content ol li {
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h4, .ticket-info .inner-content p strong, .related-productions ul li h5, li.sponsor h5, .event-obj .label, .event-obj .event-meta .date, .pre-and-post-shows h5, .content-section ul[class*='medium-block-grid-'] h4 {
  font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.section.introduction p, .section-intro p, .sub-sections p, .opera-love-section p, .support-po .support-po-copy p, .expandable-content .inner-content p, .single-venue .getting-here p, .single-venue .accessibility p, .single-production .production-content p, .production-copy p, .venues-section p, .film-radio p, .entry-content p, .leadership-staff .right p, .entry-content ul li, .entry-content ol li, .history-summary, .content-area p {
  font-family: Georgia, serif;
}

h4, .top-bar .menu > li, .menu-btn, #opera-love h2, .support-po .caption span, .venue-obj .view-more, .production-obj .view-more, .production-obj .tickets, .home-opera-lineup .production-obj h3, .sidebar .tickets, .related-productions ul li h5, .pre-post-events h3, .film-radio h2, .events-widget h3, .venues .medium-block-grid-3 ul li, .event-obj .label {
  text-transform: uppercase;
}

h1, .button, .sub-sections h3, .sub-sections .performance-details, .support-po h2, .venue-obj h3, .btn-photos, .ticket-info .inner-content .link-list li, .single-venue .getting-here h3, .single-venue .accessibility h3, .section.repertory-list .btn-cta, .production-media > ul li, .accordion .accordion-navigation > a, .accordion dd > a, .purchase-methods h3, .venues h3, .filters .filter-list li, .calendar .year-label, .post-item .post-meta .more, .pagination ul li, .entry-content h3, .content-section h3, .error404 .entry-content p, footer[role="contentinfo"] h4, footer[role="contentinfo"] .subscribe {
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  html #wpadminbar {
    top: -46px !important;
  }
}

/* ==========================================================================
   Boilerplate styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #111111;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  position: relative;
  z-index: 9999;
  padding: 15px 40px;
  color: #f6523c;
  background: white;
  font-family: 'Helvetica', Arial, sans-serif;
}

.chromeframe a {
  color: #f6523c;
  text-decoration: underline;
}

.chromeframe a:hover {
  color: #b62528;
}

/* ===== Theme Styles ==================================================
   Author: Rally Group
   ========================================================================== */
main[role="main"] {
  min-height: 600px;
}

h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h4 {
  font-size: 14px;
}

.has-rule {
  padding-bottom: 10px;
  border-bottom: 1px solid #959595;
}

p, li {
  font-size: 16px;
  line-height: 1.4em;
}

a {
  color: black;
}

a:hover {
  color: #111111;
  text-decoration: underline;
}

address {
  font-style: normal;
  font-weight: normal;
}

.left-align {
  text-align: left;
}

.button {
  background: transparent;
  border: 2px solid black;
  color: black;
  padding: 12px 20px;
  min-width: 180px;
}

.button:hover {
  background: black;
  border-color: #111111;
  color: white;
  text-decoration: none;
}

.btn-cta {
  color: #111111;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-cta:hover {
  text-decoration: underline;
}

.btn-more {
  color: #111111;
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
}

.btn-more:hover {
  text-decoration: underline;
}

header[role="banner"] {
  background: url(../images/masthead.jpg) no-repeat 0 0;
  background-size: cover;
  height: 155px;
}

@media screen and (max-width: 500px) {
  header[role="banner"] {
    height: 110px;
  }
}

.top-bar {
  height: 80px;
  padding-top: 25px;
  overflow: visible;
  z-index: 10;
  line-height: normal;
  background: #111111;
  position: relative;
}

.top-bar:after {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 0;
  background: #111111;
  transform-origin: right center;
  -moz-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

@media screen and (max-width: 640px) {
  .top-bar:after {
    max-height: 120px;
  }
}

.top-bar .name {
  margin-left: 50px;
}

.top-bar .name a {
  background: url(../images/logo.png) no-repeat 0 0;
  width: 145px !important;
  height: 61px;
  display: block;
}

@media screen and (max-width: 600px) {
  .top-bar .name a {
    background: url(../images/small-logo.png) no-repeat 0 0;
  }
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .top-bar .name a {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/logo-2x.png) no-repeat 0 0;
    background-size: 145px 61px;
  }
}

@media screen and (min--moz-device-pixel-ratio: 1.3) and (max-width: 600px), screen and (-o-min-device-pixel-ratio: 2.6 / 2) and (max-width: 600px), screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 600px), screen and (min-device-pixel-ratio: 1.3) and (max-width: 600px), screen and (min-resolution: 1.3dppx) and (max-width: 600px) {
  .top-bar .name a {
    background: url(../images/small-logo-2x.png) no-repeat 0 0;
    background-size: 95px 40px;
  }
}

@media screen and (max-width: 600px) {
  .top-bar .name {
    margin-left: 15px;
  }
  .top-bar .name a {
    width: 95px;
    height: 40px;
  }
}

.top-bar .menu {
  background: #111111;
  width: 235px;
  position: absolute;
  right: 50px;
  top: 80px;
  z-index: 10;
  padding: 20px;
  margin: 0;
  display: none;
}

.top-bar .menu > li {
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 15px;
}

.top-bar .menu > li:last-of-type {
  margin-bottom: 0;
}

.top-bar .menu > li .children {
  margin-top: 10px;
  margin-left: 10px;
}

.top-bar .menu > li .children li {
  font-size: 12px;
}

.top-bar .menu a {
  color: white;
}

.top-bar .menu a:hover {
  color: #d0d0d0;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .top-bar .menu {
    right: 0;
    width: 80%;
  }
  .top-bar .menu > li {
    line-height: 1.5em;
    font-size: 16px !important;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .top-bar .menu > li a {
    padding: 10px 0;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .top-bar .menu {
    width: 100%;
    border-top: 2px solid #2b2b2b;
  }
}

.top-bar.active .menu {
  display: block;
}

.title-area, .top-bar-section {
  z-index: 1;
}

.top-bar-section ul {
  margin-right: 50px;
}

.menu-btn {
  color: white;
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 50px;
  padding-right: 25px;
  font-size: 16px;
}

.menu-btn:hover, .menu-btn:focus {
  color: white;
  text-decoration: none;
}

.menu-btn:after {
  content: "";
  background: url(../images/sprite-global-1x.png) no-repeat -5px -5px;
  width: 16px;
  height: 12px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .menu-btn:after {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -5px;
    background-size: 200px 700px;
  }
}

@media screen and (max-width: 600px) {
  .menu-btn {
    right: 15px;
  }
}

.alert-box {
  background: white;
  border: 0 0 1px 0;
  border-style: solid;
  border-color: #d0d0d0;
  text-align: center;
  margin: 0;
}

.alert-box p {
  margin: 0;
  color: #111111;
  font-size: 14px;
  text-align: center;
  position: relative;
  display: inline;
  padding-left: 30px;
}

.alert-box .icon {
  position: absolute;
  background: url(../images/sprite-global-1x.png) no-repeat -5px -270px;
  width: 17px;
  height: 17px;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -9px;
  display: inline;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .alert-box .icon {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -270px;
    background-size: 200px 700px;
  }
}

#hero {
  position: relative;
  height: 450px;
  border-bottom: 1px solid #d0d0d0;
}

#hero .heading {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
  z-index: 10;
}

#hero.has-cta {
  position: relative;
}

#hero.has-image {
  height: auto;
}

#hero.has-image img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #hero.has-image .home-cta {
    position: static;
    border-top: 1px solid #d0d0d0;
  }
}

.section {
  margin: 50px 0 70px;
}

.section.has-rule, .section.introduction {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 40px;
}

.section .btn-more {
  float: right;
}

.section.introduction {
  text-align: center;
}

.section.introduction p {
  line-height: 1.5em;
  font-size: 20px;
}

.section.light-on-dark {
  color: white;
}

.section.light-on-dark h1, .section.light-on-dark h2, .section.light-on-dark h3, .section.light-on-dark h4, .section.light-on-dark h5, .section.light-on-dark p, .section.light-on-dark li, .section.light-on-dark a, .section.light-on-dark .button {
  color: white;
}

.section.light-on-dark .button {
  border-color: white;
}

.section.light-on-dark .button:hover {
  background: white;
  color: black;
}

.section + .custom-grid-section {
  margin-top: -60px;
}

.section-intro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-intro h2 {
  font-size: 34px;
}

@media screen and (max-width: 640px) {
  .section-intro h2 {
    font-size: 28px;
  }
}

.section-intro p {
  line-height: 1.5em;
  font-size: 20px;
}

@media screen and (max-width: 640px) {
  .sub-sections .medium-6 {
    margin-bottom: 40px;
  }
}

.sub-sections h3 {
  font-size: 22px;
}

.sub-sections p {
  font-size: 16px;
}

.sub-sections .performance-details {
  font-size: 16px;
  color: black;
}

.has-image {
  /*   padding: 80px 0 160px;
  &.has-overlay {
    &:after {
      content: "";
      background: rgba();
    }
  } */
}

.has-background {
  padding: 80px 0 160px;
  background: url(../images/texture-tile.jpg) repeat 0 0;
}

.has-background h1, .has-background h2, .has-background h3, .has-background h4, .has-background h5, .has-background p {
  color: white;
}

.production-count {
  display: none;
}

#opera-love {
  position: relative;
}

#opera-love:after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

@media screen and (max-width: 640px) {
  #opera-love:after {
    max-height: 120px;
  }
}

#opera-love h2 {
  font-size: 21px;
  color: white;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

#opera-love h2 .icon {
  background: url(../images/sprite-global-1x.png) no-repeat -63px -189px;
  width: 36px;
  height: 35px;
  display: block;
  display: inline-block;
  position: relative;
  top: 10px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #opera-love h2 .icon {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -63px -189px;
    background-size: 200px 700px;
  }
}

.opera-love-section {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .opera-love-section {
    margin-bottom: 60px;
  }
  .opera-love-section:last-of-type {
    margin-bottom: 0;
  }
}

.opera-love-section:before {
  content: "";
  margin: 0 auto 30px;
  background: url(../images/sprite-global-1x.png) no-repeat -5px -451px;
  width: 51px;
  height: 50px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .opera-love-section:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -451px;
    background-size: 200px 700px;
  }
}

.opera-love-section.content-block-1:before {
  background-position: -5px -451px;
}

.opera-love-section.content-block-2:before {
  background-position: -67px -451px;
}

.opera-love-section.content-block-3:before {
  background-position: -130px -451px;
}

.opera-love-section h3 {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.opera-love-section p {
  font-size: 15px;
  line-height: 1.5em;
  color: white;
}

.opera-love-section .more {
  color: white;
  font-size: 16px;
}

.support-po {
  text-align: center;
}

.support-po h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.support-po a:not(.button) {
  color: black;
}

.support-po .button {
  display: block;
  max-width: 200px;
  margin: 20px auto;
}

.support-po .intro p {
  font-size: 24px;
}

.support-po .caption {
  font-size: 29px;
}

.support-po .caption span {
  font-size: 16px;
  text-align: left;
}

.support-po .support-po-copy p {
  text-align: left;
  font-size: 18px;
  line-height: 29px;
}

.home-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px 0 20px;
  text-align: center;
}

.home-cta p {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .home-cta {
    padding: 15px 0 10px;
  }
  .home-cta p {
    font-size: 16px;
  }
}

.venue-obj .image-wrapper {
  position: relative;
}

.venue-obj .details {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none !important;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

@media screen and (max-width: 768px) {
  .venue-obj .details {
    display: none;
  }
}

.venue-obj .view-more {
  width: 100%;
  color: white;
  font-weight: normal;
  font-size: 14px;
  display: block;
  top: 50%;
  position: absolute;
  margin-top: -30px;
  text-align: center;
}

.venue-obj .view-more:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -86px -313px;
  width: 30px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .venue-obj .view-more:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -86px -313px;
    background-size: 200px 700px;
  }
}

.venue-obj .view-more:hover {
  text-decoration: none;
}

.venue-obj h3 a:hover {
  text-decoration: underline;
}

.venue-obj:hover .details {
  display: block;
}

.close-reveal-modal {
  z-index: 1000;
}

.production-obj {
  position: relative;
}

.production-obj .thumbnail {
  display: block;
  position: relative;
  z-index: 1;
}

.production-obj .thumbnail img {
  width: 100%;
}

.production-obj .details {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0.625rem;
  right: 0.625rem;
  bottom: 1.25rem;
  display: none;
}

.production-obj .details-upper {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}

.production-obj .production-title {
  font-size: 19px;
  line-height: 1.1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.production-obj .production-date {
  text-align: center;
  font-size: 14px;
  color: #d0d0d0;
}

.production-obj .view-more, .production-obj .tickets {
  display: block;
  width: 50%;
  position: absolute;
  text-align: center;
}

.production-obj .view-more {
  left: 0;
}

.production-obj .tickets {
  right: 0;
}

.production-obj .no-tickets .view-more {
  width: 100%;
  float: none;
}

.production-obj.is-broadway a {
  color: white;
}

.production-obj.is-broadway .thumbnail {
  border: 2px solid black;
}

.production-obj.is-broadway .details {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.production-obj.is-broadway .view-more, .production-obj.is-broadway .tickets {
  bottom: 0;
  height: 100px;
  padding: 0;
  font-size: 11px;
  font-weight: normal;
}

.production-obj.is-broadway .view-more:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -86px -313px;
  width: 30px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-obj.is-broadway .view-more:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -86px -313px;
    background-size: 200px 700px;
  }
}

.production-obj.is-broadway .tickets:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -138px -263px;
  width: 30px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-obj.is-broadway .tickets:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -138px -263px;
    background-size: 200px 700px;
  }
}

.production-obj.is-opera a {
  color: black;
}

.production-obj.is-opera .thumbnail {
  border: 2px solid #d0d0d0;
}

.production-obj.is-opera .details {
  background: rgba(255, 255, 255, 0.85);
}

.production-obj.is-opera .view-more, .production-obj.is-opera .tickets, .production-obj.is-opera p.sorry {
  bottom: 50%;
  max-height: 100%;
  margin-bottom: -31px;
}

.production-obj.is-opera .sorry {
  width: 20%;
  margin-left: 60%;
  margin-top: 15%;
  text-align: center;
}

.production-obj.is-opera .view-more:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -5px -313px;
  width: 30px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-obj.is-opera .view-more:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -313px;
    background-size: 200px 700px;
  }
}

.production-obj.is-opera .tickets:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -63px -264px;
  width: 29px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-obj.is-opera .tickets:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -63px -264px;
    background-size: 200px 700px;
  }
}

.production-obj.is-opera.is-large .details {
  left: 0;
  right: 0;
  bottom: 0;
}

.no-touch .production-obj:hover .details {
  display: block;
}

.no-touch .production-obj.is-opera:hover .details {
  border: 2px solid #d0d0d0;
}

.no-touch .production-obj.is-broadway:hover .details {
  border: 2px solid #d0d0d0;
}

@media screen and (max-width: 850px) {
  .no-touch .production-obj.is-broadway:hover .details {
    display: none;
  }
}

.home-opera-lineup .production-obj .image-wrapper {
  position: relative;
}

.home-opera-lineup .production-obj .details {
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none !important;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .home-opera-lineup .production-obj .details {
    display: none;
  }
}

.home-opera-lineup .production-obj .view-more {
  width: 100%;
  color: white;
  font-weight: normal;
  font-size: 14px;
}

.home-opera-lineup .production-obj .view-more:before {
  content: "";
  display: block;
  margin: 0 auto 10px;
  background: url(../images/sprite-global-1x.png) no-repeat -86px -313px;
  width: 30px;
  height: 30px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .home-opera-lineup .production-obj .view-more:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -86px -313px;
    background-size: 200px 700px;
  }
}

.home-opera-lineup .production-obj h3 {
  font-size: 14px;
  margin-top: 7px;
}

.home-opera-lineup .production-obj h3 a:hover {
  text-decoration: underline;
}

.btn-photos {
  color: black;
  padding-left: 35px;
  display: block;
}

.btn-photos:before {
  content: "";
  background: url(../images/sprite-global-1x.png) no-repeat -5px -377px;
  width: 25px;
  height: 17px;
  display: block;
  position: absolute;
  left: 0;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .btn-photos:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -377px;
    background-size: 200px 700px;
  }
}

.button.btn-photos {
  display: inline-block;
  padding-left: 50px;
}

.button.btn-photos:before {
  left: 30px;
}

.button.btn-photos:hover:before {
  background-position: -5px -410px;
}

.orbit-timer {
  display: none;
}

#photo-gallery {
  border: none;
  background: transparent;
  box-shadow: none;
}

#photo-gallery .close-reveal-modal {
  color: white;
}

.broadway-sponsor {
  margin-bottom: 40px;
}

.featured-image {
  position: relative;
}

.featured-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 640px) {
  .featured-image img {
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

.featured-image .launch-gallery {
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.featured-image .launch-gallery .btn-photos {
  position: absolute;
  bottom: 20px;
  right: 15px;
  color: white;
}

.featured-image .launch-gallery .btn-photos:before {
  background-position: -5px -410px;
}

@media screen and (max-width: 640px) {
  .featured-image .launch-gallery {
    display: none;
  }
}

.featured-image:hover .launch-gallery {
  opacity: 1;
}

.intro-image img {
  width: 100%;
}

.film-series:before {
  content: "";
  margin: 0 auto 30px;
  background: url(../images/sprite-global-1x.png) no-repeat -5px -520px;
  width: 43px;
  height: 51px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .film-series:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -520px;
    background-size: 200px 700px;
  }
}

.radio-broadcasts:before {
  content: "";
  margin: 0 auto 30px;
  background: url(../images/sprite-global-1x.png) no-repeat -69px -516px;
  width: 48px;
  height: 51px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .radio-broadcasts:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -69px -516px;
    background-size: 200px 700px;
  }
}

/* Expanding Content Sections */
.expandable-content {
  background: #464646;
  margin-bottom: 2px;
}

.expandable-content h1, .expandable-content h2, .expandable-content h3, .expandable-content h4, .expandable-content h5, .expandable-content h6, .expandable-content p, .expandable-content li, .expandable-content a {
  color: white;
}

.expandable-content .panel {
  cursor: pointer;
  color: white;
  background: #111111 url(../images/texture-tile.jpg) repeat 0 0;
  border: none;
  padding: 30px 0;
}

.expandable-content .panel:hover {
  opacity: 0.8;
}

.expandable-content .panel > .row > .medium-12 {
  padding-left: 30px;
}

.expandable-content .panel h2 {
  font-size: 20px;
  line-height: 1.1em;
  letter-spacing: 1px;
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  padding-left: 25px;
}

.expandable-content .panel .intro {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (max-width: 640px) {
  .expandable-content .panel .intro {
    display: none;
  }
}

.expandable-content .panel .intro p {
  color: #d0d0d0;
  font-size: 14px;
  line-height: 1em;
  margin-top: 7px;
  margin-bottom: 0;
}

.expandable-content .panel .link-list {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.expandable-content .panel .link-list li {
  display: inline;
  margin-right: 20px;
  font-size: 13px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.expandable-content .icon {
  background: url(../images/sprite-global-1x.png) no-repeat -3px -211px;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 0;
  margin-top: 3px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .expandable-content .icon {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -3px -211px;
    background-size: 200px 700px;
  }
}

.expandable-content .inner-content {
  display: none;
  overflow: hidden;
}

.expandable-content .inner-content > .row {
  padding: 60px 0;
}

.expandable-content .inner-content h2 {
  font-size: 35px;
  text-transform: none;
}

.expandable-content .inner-content p {
  font-size: 16px;
  line-height: 1.5em;
}

.expandable-content .inner-content p a {
  text-decoration: underline;
}

.expandable-content .inner-content ul {
  margin: 0;
}

.expandable-content .inner-content ul li {
  font-size: 15px;
  margin-bottom: 10px;
}

.expandable-content.open {
  margin-bottom: 0;
}

.expandable-content.open .inner-content {
  display: block;
  padding: 20px;
}

.expandable-content.open .panel .intro {
  opacity: 0;
  visibility: hidden;
}

.expandable-content.open .icon {
  background-position: -1px -241px;
}

.expandable-content.ticket-info.open .inner-content {
  padding: 0;
}

.ticket-info .inner-content h2 {
  text-transform: none;
  font-size: 35px;
}

.ticket-info .inner-content .link-list {
  list-style: none;
  margin: 40px 0 0 40px;
}

.ticket-info .inner-content .link-list li {
  font-size: 14px;
}

.ticket-info .inner-content p a {
  text-decoration: underline;
}

.individual-tickets-info {
  margin: 40px 0 0 40px;
}

.individual-tickets-info p {
  font-size: 14px;
  font-style: italic;
}

.pagename-operas .footer-color-cap,
.pagename-broadway .footer-color-cap,
.single-production .footer-color-cap,
.single-event .footer-color-cap,
.pagename-venues .footer-color-cap,
.pagename-support .footer-color-cap,
.pagename-about .footer-color-cap,
.pagename-community .footer-color-cap {
  margin-top: 0;
}

.pagename-broadway .section.introduction, .pagename-support .section.introduction, .pagename-about .section.introduction, .pagename-community .section.introduction, .pagename-experience .section.introduction {
  border-bottom: none;
  padding-bottom: 0px;
}

.pagename-broadway .ticket-info, .pagename-support .ticket-info, .pagename-about .ticket-info, .pagename-community .ticket-info, .pagename-experience .ticket-info {
  margin-top: 2px;
}

section.repertory-list {
  position: relative;
  z-index: 1;
  transform-origin: left center;
  padding: 160px 0 60px;
  margin-bottom: 0;
}

section.repertory-list:before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

@media screen and (max-width: 640px) {
  section.repertory-list:before {
    max-height: 120px;
  }
}

.one-half {
  width: 50%;
}

.one-half.left {
  float: left;
  border-right: 1px solid #111111;
}

.one-half.right {
  float: right;
}

.one-half .inner-wrapper {
  width: 500px;
}

.two-thirds {
  width: 60.909090909091%;
}

.two-thirds .inner-wrapper {
  width: 620px;
}

.two-thirds.left {
  float: left;
  border-right: 1px solid #111111;
}

.two-thirds.right {
  float: right;
  border-left: 1px solid #111111;
}

.two-thirds:first-of-type {
  border-bottom: 1px solid #111111;
}

.one-third {
  width: 39.090909090909%;
}

.one-third.left {
  float: left;
}

.one-third.right {
  float: right;
}

.one-third .inner-wrapper {
  width: 380px;
}

.panel {
  margin: 0;
}

.left .inner-wrapper {
  float: right;
  padding: 40px 40px 40px 0;
}

.light .left, .light .right, .light .first-of-type, .light .one-third, .light .two-thirds, .light .one-half {
  border-color: #d0d0d0;
}

@media screen and (max-width: 640px) {
  .one-third, .two-thirds, .one-half {
    float: none;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #252525;
  }
  .one-third .inner-wrapper, .two-thirds .inner-wrapper, .one-half .inner-wrapper {
    width: 100% !important;
    padding: 40px 15px !important;
    float: none !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 640px) {
  .light .one-third, .light .two-thirds, .light .one-half {
    border-color: #d0d0d0;
  }
}

@media screen and (min-width: 641px) {
  .two-columns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 30px;
    /* Firefox */
    column-gap: 30px;
  }
}

.two-columns ul {
  list-style: inside;
}

.two-columns ul li {
  margin-bottom: 15px !important;
}

.inner-wrapper {
  max-width: 95%;
}

.single .sidebar .social-links {
  margin-top: 15px;
}

.single .sidebar .social-links li a {
  background: url(../images/sprite-global-1x.png) no-repeat -19px -620px;
  width: 24px;
  height: 24px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .single .sidebar .social-links li a {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -19px -620px;
    background-size: 200px 700px;
  }
}

.single .sidebar .social-links li a.fb {
  background-position: -14px -620px;
}

.single .sidebar .social-links li a.tw {
  background-position: -48px -620px;
}

.single .sidebar .social-links li a.gl {
  background-position: -88px -620px;
}

.pagename-venues .experience.section {
  margin-bottom: 0;
  padding-bottom: 80px;
}

.pagename-venues .experience.section p {
  margin-bottom: 30px;
}

.single-venue .introduction {
  margin-bottom: 0;
}

.single-venue .getting-here {
  margin: 0;
  padding-bottom: 0;
}

.single-venue .getting-here h2, .single-venue .accessibility h2 {
  font-size: 26px;
}

.single-venue .getting-here h3, .single-venue .accessibility h3 {
  font-size: 16px;
}

.single-venue .getting-here p, .single-venue .accessibility p {
  font-size: 16px;
  line-height: 1.5em;
}

.section.accessibility {
  border-top: 1px solid #d0d0d0;
  margin-top: 0;
  padding-top: 60px;
}

.right .inner-wrapper {
  float: left;
  padding: 40px 0px 40px 40px;
}

.section.repertory-list {
  text-align: center;
}

.section.repertory-list .btn-cta {
  color: white;
}

.pagename-ticket-information .introduction .btn-cta {
  text-transform: none;
  font-size: 18px;
}

.production-content .title {
  font-size: 71px;
  line-height: 1em;
}

@media screen and (max-width: 768px) {
  .production-content .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .production-content .title {
    font-size: 34px;
  }
}

.single-production .sidebar {
  /*     width: 38.636363636364%;
    float: left;
     */
  border-right: 1px solid #d0d0d0;
}

.single-production .sidebar .inner-wrapper {
  float: right;
  width: 290px;
  padding: 80px 50px 50px 0;
  font-size: 14px;
}

.single-production .production-content {
  /*     width: 61.363636363636%;
    float: right; */
  border-left: 1px solid #d0d0d0;
  left: -1px;
  position: relative;
}

.single-production .production-content .inner-wrapper {
  float: left;
  width: 590px;
  padding: 80px 0px 50px 50px;
}

.single-production .production-content p {
  font-size: 16px;
  line-height: 1.5em;
}

.single-production .production-content .excerpt p {
  font-size: 25px;
  line-height: 34px;
}

@media screen and (max-width: 500px) {
  .single-production .production-content .excerpt p {
    font-size: 18px;
    line-height: 1.4em;
  }
}

.production-copy p {
  font-size: 16px;
  line-height: 1.5em;
}

.production-copy .excerpt {
  font-size: 25px;
  line-height: 34px;
}

@media screen and (max-width: 500px) {
  .production-copy .excerpt {
    font-size: 18px;
    line-height: 1.4em;
  }
}

.production-media {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 50px 0 50px 50px;
  margin-left: -50px;
}

.production-media > ul {
  list-style: none;
  margin: 0;
}

.production-media > ul li {
  display: inline-block;
  font-size: 14px;
  padding-left: 40px;
  position: relative;
  width: 32%;
  width: calc(32% - 15px);
  margin-bottom: 25px;
  margin-left: 15px;
}

@media screen and (max-width: 900px) {
  .production-media > ul li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

.production-media > ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
}

.production-media > ul li a {
  color: black;
}

.production-media > ul li.photos:before {
  background: url(../images/sprite-global-1x.png) no-repeat -5px -377px;
  width: 25px;
  height: 17px;
  display: block;
  margin-top: -9px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-media > ul li.photos:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -377px;
    background-size: 200px 700px;
  }
}

.production-media > ul li.videos:before {
  background: url(../images/sprite-global-1x.png) no-repeat -65px -378px;
  width: 32px;
  height: 16px;
  display: block;
  margin-top: -8px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-media > ul li.videos:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -65px -378px;
    background-size: 200px 700px;
  }
}

.production-media > ul li.audio:before {
  background: url(../images/sprite-global-1x.png) no-repeat -135px -375px;
  width: 28px;
  height: 21px;
  display: block;
  margin-top: -11px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .production-media > ul li.audio:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -135px -375px;
    background-size: 200px 700px;
  }
}

.sidebar {
  font-size: 14px;
}

.sidebar .tickets {
  padding-left: 41px;
  position: relative;
}

.sidebar .tickets:before {
  content: "";
  background: url(../images/sprite-global-1x.png) no-repeat -63px -263px;
  width: 29px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .sidebar .tickets:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -63px -263px;
    background-size: 200px 700px;
  }
}

.production-extras, .production-media {
  padding-top: 50px;
}

.production-extras .content em, .production-media .content em {
  color: #999999;
  font-size: 14px;
}

.production-extras .content ul, .production-media .content ul {
  list-style: none;
  margin: 0;
}

.production-extras .content ul li, .production-media .content ul li {
  margin-bottom: 15px;
  font-size: 14px;
}

.production-extras .content ul li strong, .production-media .content ul li strong {
  display: block;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: black;
  color: white;
  padding: 14px;
  font-size: 14px;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: #111111;
}

.accordion-navigation {
  border-top: 2px solid #252525;
}

.extras-type, .media-type {
  position: relative;
  padding-left: 40px !important;
}

.extras-type:before, .media-type:before {
  content: "";
  background: url(../images/sprite-global-1x.png) no-repeat -35px -211px;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -7px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .extras-type:before, .media-type:before {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -35px -211px;
    background-size: 200px 700px;
  }
}

.extras-type.active:before, .media-type.active:before {
  background-position: -34px -241px;
}

.orbit-container .orbit-slides-container img {
  width: 100%;
}

@media only screen and (max-width: 40em) {
  a.orbit-next, a.orbit-prev, .orbit-bullets {
    display: block;
  }
}

.close-reveal-modal:hover {
  text-decoration: none;
}

.sidebar .clearfix {
  margin-bottom: 40px;
}

.related-productions h4 {
  text-transform: none;
  letter-spacing: normal;
}

.related-productions ul {
  list-style: none;
  margin: 20px 0;
}

.related-productions ul li {
  clear: both;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.related-productions ul li img {
  float: left;
  margin-right: 15px;
}

.related-productions ul li h5 {
  font-size: 14px;
}

.nav-section {
  margin: 0;
  padding: 25px 0;
  border-top: 1px solid #d0d0d0;
}

.production-nav {
  clear: both;
  list-style: none;
  margin: 0;
}

.production-nav li {
  width: 50%;
  float: left;
  font-style: italic;
  font-size: 14px;
}

.production-nav li.prev {
  text-align: left;
}

.production-nav li.next {
  text-align: right;
  float: right;
}

.production-nav li a {
  color: #999999;
}

.purchase-methods {
  text-align: left;
  margin-bottom: 80px;
}

.purchase-methods h3 {
  font-size: 19px;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .purchase-methods h3 {
    margin-top: 40px;
  }
}

.purchase-methods ul {
  list-style: none;
  margin: 0;
}

.purchase-methods ul li {
  font-size: 16px;
}

.purchase-methods ul li a {
  color: black;
}

.purchase-methods p {
  margin-top: 15px;
}

.purchase-methods p, .purchase-methods address, .purchase-methods a {
  color: black;
  font-size: 14px;
}

.purchase-methods .phone {
  display: block;
}

.venues-section {
  text-align: center;
}

.venues-section h2 {
  font-size: 34px;
}

.pre-post-events .medium-6 {
  text-align: left;
}

.pre-post-events .medium-6 p {
  font-size: 16px;
}

.pre-post-events h2 {
  font-size: 34px;
}

.pre-post-events h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.premier-partners ul {
  /*     text-align: left;
    width: 100%;
    margin: 20px 0 0 0; */
}

.premier-partners ul li {
  /*       display: block;
      width: 50%;
      float: left; */
}

li.sponsor {
  margin-bottom: 30px;
}

li.sponsor .thumbnail {
  display: block;
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 100px;
  position: relative;
}

li.sponsor .thumbnail img {
  position: relative;
}

li.sponsor .details {
  margin-left: 90px;
}

li.sponsor h5 {
  font-size: 14px;
  margin-bottom: 3px;
  margin-top: 0;
}

li.sponsor a {
  color: black;
}

li.sponsor .website {
  font-size: 14px;
}

.restaurant-partners, .hotel-partners, .premier-partners {
  margin-top: 80px;
}

.restaurant-partners h4, .hotel-partners h4, .premier-partners h4 {
  margin-bottom: 20px;
}

.individual-giving.section {
  margin-bottom: 2px;
}

.giving-level {
  position: relative;
  margin-top: 2px;
  overflow: hidden;
}

.giving-level .backdrop {
  position: relative;
  z-index: 0;
}

.giving-level .backdrop img {
  width: 100%;
}

.giving-level .inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 80px 0 60px;
  background: rgba(0, 0, 0, 0.3);
  max-width: none;
}

@media screen and (max-width: 640px) {
  .giving-level .inner-wrapper {
    position: static;
    padding: 0;
    background: transparent;
  }
}

.giving-level p {
  font-size: 14px;
  line-height: 1.5em;
}

.giving-level h3 {
  font-size: 48px;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.giving-level h3 + p {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0;
}

@media screen and (max-width: 641px) {
  .giving-level h3 {
    font-size: 35px;
  }
  .giving-level h3 + p {
    font-size: 16px;
  }
  .giving-level h3, .giving-level p, .giving-level .button, .giving-level a {
    color: #111111 !important;
  }
  .giving-level .button {
    border-color: #111111 !important;
  }
  .giving-level .button:hover {
    background: #111111;
    color: white;
  }
}

.section.po-to-go {
  margin-top: 0;
}

.section.po-to-go .launch-gallery {
  text-align: center;
  margin: 40px 0;
}

.section.po-to-go .intro-image {
  position: relative;
}

.section.po-to-go .intro-image:after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

@media screen and (max-width: 640px) {
  .section.po-to-go .intro-image:after {
    max-height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .section.po-to-go .intro-image:after {
    height: 120px;
  }
}

.film-radio {
  text-align: center;
  position: relative;
}

.film-radio:after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

@media screen and (max-width: 640px) {
  .film-radio:after {
    max-height: 120px;
  }
}

.film-radio h2 {
  font-size: 20px;
}

.film-radio a {
  color: white;
}

@media screen and (min-width: 641px) {
  .film-radio .medium-6 > div {
    padding: 0 60px;
  }
}

@media screen and (max-width: 640px) {
  .film-radio .medium-6 > div {
    margin-bottom: 40px;
  }
}

.section.po-classes .intro-image {
  position: relative;
}

.section.po-classes .intro-image:after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

@media screen and (max-width: 640px) {
  .section.po-classes .intro-image:after {
    max-height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .section.po-classes .intro-image:after {
    height: 120px;
  }
}

.resident-artists .ra-story {
  text-align: left;
  margin-top: 40px;
}

.resident-artists .ra-story p {
  font-size: 16px;
  line-height: 1.5em;
}

.events-widget {
  text-align: left;
  margin-top: 80px;
}

.events-widget h3 {
  font-size: 14px;
  color: white;
  background: black;
  padding: 10px;
}

.events-widget .event-list {
  list-style: none;
  margin: 10px 0;
}

.events-widget .event-list li {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 1.1em;
  margin-bottom: 10px;
}

.events-widget .event-list .date, .events-widget .event-list .title {
  float: left;
  display: block;
}

.events-widget .event-list .date {
  width: 16.867469879518%;
}

.events-widget .event-list .title {
  width: 68.674698795181%;
  color: black;
  line-height: 1em;
}

.events-widget .event-list .btn-more {
  display: block;
  width: 12.650602409639%;
  float: right;
}

@media screen and (max-width: 640px) {
  .events-widget .event-list .date, .events-widget .event-list .title, .events-widget .event-list .btn-more {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .events-widget .event-list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
  }
}

.events-widget .calendar-link {
  display: none;
}

.sidebar .events-widget {
  margin-top: 0;
  margin-bottom: 40px;
}

.sidebar .events-widget .event-list .date, .sidebar .events-widget .event-list .title {
  font-size: 13px;
}

.sidebar .events-widget .event-list .date {
  width: 30%;
}

.sidebar .events-widget .event-list .title {
  padding-left: 10px;
}

.sidebar ul li {
  font-size: 12px;
  line-height: 1.1em;
  margin-bottom: 5px;
}

.sidebar ul li a {
  color: black;
  text-decoration: underline;
}

.sidebar p {
  font-size: 12px;
  line-height: 1.5em;
}

.entry-content p {
  font-size: 16px;
  line-height: 1.5em;
}

.text-left {
  width: 50%;
  float: left;
  padding-right: 30px;
}

@media screen and (max-width: 640px) {
  .text-left {
    width: 100%;
    float: none;
    padding: 0;
  }
  .text-left + .text-left {
    margin-top: 40px;
  }
}

.leadership-staff {
  padding: 0;
  text-align: center;
  margin-bottom: 0;
}

.leadership-staff h2 {
  font-size: 34px;
  margin-top: 40px;
}

.leadership-staff .directors {
  width: 80%;
  overflow: hidden;
  list-style: none;
  margin: 20px auto;
}

.leadership-staff .directors li {
  display: block;
  width: 39%;
  float: left;
}

.leadership-staff .directors li:last-of-type {
  float: right;
}

.leadership-staff .directors li h5 {
  font-size: 16px;
  margin: 10px 0 0;
}

@media screen and (max-width: 500px) {
  .leadership-staff .directors li {
    width: 50%;
    margin-bottom: 40px;
  }
}

.leadership-staff .right p {
  line-height: 1.5em;
}

.leadership-staff .right a {
  font-size: 16px;
}

.section.po-chorus-orchestra {
  margin-top: 0;
}

.section.po-chorus-orchestra .intro-image {
  position: relative;
}

.section.po-chorus-orchestra .intro-image:after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

@media screen and (max-width: 640px) {
  .section.po-chorus-orchestra .intro-image:after {
    max-height: 120px;
  }
}

.section.po-history .intro-image {
  position: relative;
}

.section.po-history .intro-image:after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 0;
  background: white;
  transform-origin: right center;
  -moz-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

@media screen and (max-width: 640px) {
  .section.po-history .intro-image:after {
    max-height: 120px;
  }
}

.venues h3 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 1.1em;
}

.venues h3 a {
  color: black;
}

.venues p {
  font-size: 13px;
}

.venues .medium-block-grid-3 ul {
  list-style: none;
  margin: 10px 0 0;
}

.venues .medium-block-grid-3 ul li {
  font-size: 14px;
  margin-bottom: 10px;
}

.venues .medium-block-grid-3 ul li a {
  color: black;
}

.venues .medium-block-grid-3 ul li a:hover {
  text-decoration: underline;
}

.single-venue .venue-map {
  height: 400px;
}

.po-contact a {
  color: black;
}

.po-contact a:hover {
  text-decoration: underline;
}

.po-contact .group {
  margin-bottom: 30px;
}

.po-contact .venue-details {
  padding-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .filters {
    padding-left: 80px;
  }
}

.filters .help-text {
  font-size: 11px;
  color: #919191;
  max-width: 200px;
  font-style: italic;
}

.filters .filter-list {
  list-style: none;
  margin: 20px 0 0 0;
}

.filters .filter-list li {
  font-size: 14px;
  margin-bottom: 10px;
}

.filters .filter-list li.active {
  text-decoration: underline;
}

.calendar .month-wrap {
  margin-bottom: 50px;
}

.calendar .year-label {
  font-size: 14px;
  color: white;
  background: black;
  padding: 10px;
  margin-bottom: 30px;
}

.calendar .month-label {
  margin-bottom: 20px;
}

.event-obj {
  margin-bottom: 25px;
  padding: 10px 10px 0 10px;
  border: 2px solid #d0d0d0;
}

.event-obj .thumbnail {
  display: block;
  float: right;
  margin-top: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 768px) {
  .event-obj .thumbnail {
    max-width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .event-obj .thumbnail {
    float: left;
    margin-left: -10px;
    width: 72px;
    margin-right: 5px;
  }
}

.event-obj .event-title {
  border-bottom: 2px solid #d0d0d0;
  margin-left: -10px;
  padding-left: 10px;
}

@media screen and (max-width: 500px) {
  .event-obj .event-title {
    margin-right: -10px;
  }
}

.event-obj .label {
  color: #919191;
  font-size: 12px;
  background: transparent;
  padding: 0;
}

.event-obj h4 {
  text-transform: none;
  font-size: 20px;
  letter-spacing: normal;
}

.event-obj h4 a {
  color: black;
}

.event-obj h4 a:hover {
  text-decoration: underline;
}

.event-obj .subtitle p {
  font-size: 13px;
}

.event-obj .event-meta {
  margin: 0;
  list-style: none;
  padding: 10px 0;
}

.event-obj .event-meta li {
  font-size: 13px;
  margin-bottom: 5px;
}

.event-obj .event-meta .venue a {
  color: black;
  text-decoration: underline;
}

.pre-and-post-shows {
  margin-top: -25px;
  padding: 10px;
  border-width: 0 2px 2px 2px;
  border-color: #d0d0d0;
  border-style: solid;
  margin-bottom: 30px;
}

.pre-and-post-shows h5 {
  font-size: 12px;
  display: inline;
  margin-right: 3px;
}

.pre-and-post-shows .pre-show, .pre-and-post-shows .post-show {
  width: 50%;
}

.pre-and-post-shows .date {
  font-size: 13px;
}

.pre-and-post-shows .pre-show {
  float: left;
  padding-right: 10px;
}

.pre-and-post-shows .post-show {
  float: right;
  padding-left: 10px;
}

.pagename-calendar .introduction.section {
  margin-bottom: 30px;
}

.highlights.section {
  padding-bottom: 30px;
  margin-top: 30px;
}

.highlight-obj .thumbnail {
  border: 2px solid #d0d0d0;
  margin-bottom: 20px;
  display: block;
}

.highlight-obj h5 {
  font-size: 14px;
  margin-bottom: 0;
}

.highlight-obj h5 a {
  color: black;
}

.highlight-obj h5 + span {
  font-size: 11px;
  font-style: italic;
}

.post-item h2 {
  font-size: 30px !important;
  text-transform: none;
}

.post-item .post-meta {
  list-style: none;
  margin: 0;
}

.post-item .post-meta li {
  width: 50%;
  float: left;
}

.post-item .post-meta .read-more {
  text-align: right;
}

.post-item .post-meta .date {
  font-size: 12px;
}

.post-item .post-meta .more {
  font-size: 14px;
}

.post-item .excerpt-content {
  margin-bottom: 30px;
}

.blog .section {
  margin-bottom: 60px;
  padding-bottom: 60px;
  padding-top: 0;
}

.pagination ul {
  margin: 0;
  list-style: none;
  text-align: center;
}

.pagination ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
}

.pagination ul li.active a {
  color: #d0d0d0;
}

.has-breadcrumb.section {
  padding-bottom: 15px;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 0;
}

.breadcrumbs {
  background: transparent;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
}

.breadcrumbs li {
  color: #919191;
  font-size: 12px;
  padding-right: 5px;
  text-transform: none;
}

.breadcrumbs li:before {
  content: none;
}

.breadcrumbs li a {
  color: #919191;
}

.single-post .date {
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
}

.post-title {
  font-size: 31px;
  line-height: 1.1em;
  text-transform: none;
}

.entry-content h1 {
  font-size: 31px;
  text-transform: none;
  line-height: 1.1em;
}

.entry-content h2 {
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
}

.entry-content h3 {
  font-size: 22px;
}

.entry-content blockquote {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  border: none;
}

.entry-content blockquote p {
  font-size: 20px;
  line-height: 30px;
  color: #252525;
}

.entry-content img {
  margin-bottom: 15px;
}

.entry-content .alignright, .entry-content .alignleft {
  max-width: 60%;
  margin-bottom: 15px;
}

.entry-content .alignright {
  float: right;
  margin-left: 15px;
  clear: right;
}

.entry-content .alignleft {
  float: left;
  margin-right: 15px;
  clear: left;
}

.entry-content .aligncenter {
  max-width: 100%;
  clear: both;
  display: block;
  margin-bottom: 15px;
}

.entry-content p.wp-caption-text {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 5px;
  line-height: 1.1em;
  margin-bottom: 0;
}

.entry-content .wp-caption {
  max-width: 100%;
  margin-bottom: 15px;
}

.entry-content .wp-caption img {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .entry-content .alignright, .entry-content .alignleft, .entry-content .aligncenter {
    float: none;
    max-width: 100% !important;
    margin: 15px 0;
    clear: both;
  }
}

object, iframe {
  max-width: 100%;
}

.single-event .one-third.left {
  border-right: 1px solid #d0d0d0;
}

.single-event .two-thirds.right {
  position: relative;
  left: -1px;
}

.history-summary {
  font-size: 16px;
}

.history-summary p {
  font-size: 16px;
  line-height: 1.5em;
}

.content-section h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.content-section ul[class*='medium-block-grid-'] h4 {
  font-size: 14px;
}

.content-section ul[class*='medium-block-grid-'] p, .content-section ul[class*='medium-block-grid-'] li {
  line-height: 1.4em;
  font-size: 14px;
  margin-bottom: 10px;
}

.content-area p {
  line-height: 1.5em;
}

@media screen and (min-width: 640px) {
  .content-area.paragraph .text-center {
    padding: 0 15%;
  }
}

div.gform_wrapper input, div.gform_wrapper select {
  margin-bottom: 5px;
}

div.gform_wrapper select {
  padding: 5px;
}

div.gform_wrapper div.validation_error {
  color: red;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}

div.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  padding: 0 !important;
  background: none;
  border: none;
}

div.gform_wrapper li.gfield.gfield_error.gfield_contains_required .gfield_description.validation_message {
  color: red;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  padding-top: 5px !important;
}

div.gform_wrapper li.gfield.gfield_error.gfield_contains_required label {
  color: black;
  margin-bottom: 0;
}

div.gform_wrapper li.gfield.gfield_error.gfield_contains_required input[type=text] {
  border-color: black;
  margin-bottom: 0;
}

div.gform_wrapper .gfield_required {
  color: red;
}

div.gform_wrapper .button:focus {
  background-color: black;
}

.error404 .entry-content {
  text-align: left;
  width: 300px;
  margin: 0 auto;
}

.error404 .entry-content ol {
  margin: 0;
  text-align: left;
}

.error404 .entry-content ol li {
  font-size: 16px;
  margin-bottom: 10px;
}

.error404 .entry-content ol li a {
  text-decoration: underline;
}

.footer-color-cap {
  height: 90px;
  margin-top: 40px;
  background: url(../images/masthead.jpg) no-repeat 0 0;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .footer-color-cap {
    height: 40px;
  }
}

footer[role="contentinfo"] {
  background: #252525;
  color: white;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

footer[role="contentinfo"]:before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: #252525;
  transform-origin: right center;
  -moz-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

@media screen and (max-width: 640px) {
  footer[role="contentinfo"]:before {
    max-height: 120px;
  }
}

footer[role="contentinfo"] h1, footer[role="contentinfo"] h2, footer[role="contentinfo"] h3, footer[role="contentinfo"] h4, footer[role="contentinfo"] h5, footer[role="contentinfo"] a {
  color: white;
}

footer[role="contentinfo"] h4 {
  font-size: 14px;
  margin-bottom: 15px;
}

footer[role="contentinfo"] address {
  font-size: 12px;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 20px;
}

footer[role="contentinfo"] address .icon {
  background: url(../images/sprite-global-1x.png) no-repeat -5px -181px;
  width: 10px;
  height: 15px;
  display: block;
  display: inline-block;
  margin-left: 10px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  footer[role="contentinfo"] address .icon {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -181px;
    background-size: 200px 700px;
  }
}

footer[role="contentinfo"] .subscribe {
  font-size: 13px;
  position: relative;
}

footer[role="contentinfo"] .subscribe .icon {
  background: url(../images/sprite-global-1x.png) no-repeat -5px -594px;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  right: -20px;
  top: 0;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  footer[role="contentinfo"] .subscribe .icon {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -594px;
    background-size: 200px 700px;
  }
}

footer[role="contentinfo"] .po-hours p {
  font-size: 12px;
  line-height: 1.5em;
}

footer[role="contentinfo"] .phone {
  font-size: 12px;
}

footer[role="contentinfo"] .legal {
  text-align: right;
  font-size: 11px;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
}

@media screen and (max-width: 640px) {
  footer[role="contentinfo"] .legal {
    text-align: left;
    margin-top: 20px;
  }
}

footer[role="contentinfo"] .group + .group {
  margin-top: 40px;
}

@media screen and (max-width: 640px) {
  footer[role="contentinfo"] .columns {
    margin-bottom: 40px;
  }
  footer[role="contentinfo"] .columns:last-of-type {
    margin-bottom: 0;
  }
}

.footer-nav {
  background: #111111;
  padding: 15px 0 50px;
  margin-top: 40px;
}

.footer-nav ul {
  list-style: none;
  text-align: left;
  line-height: 1em;
  margin: 0;
}

.footer-nav ul li {
  display: inline;
  padding-right: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-nav ul li a {
  color: #d0d0d0;
}

.social-links {
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 12px;
}

.social-links li a {
  background: url(../images/sprite-global-1x.png) no-repeat -5px -42px;
  width: 31px;
  height: 31px;
  display: block;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .social-links li a {
    /* on retina, use image that's scaled by 2 */
    background: url(../images/sprite-global-2x.png) no-repeat -5px -42px;
    background-size: 200px 700px;
  }
}

.social-links li a.fb {
  background-position: -5px -133px;
}

.social-links li a.tw {
  background-position: -5px -42px;
}

.social-links li a.yt {
  background-position: -5px -87px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 500px) {
  /* ====================
    Styles specific for mobile devices
   ==================== */
  .single-venue .introduction {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  /* ====================
    Styles for tablets & below
   ==================== */
}

@media only screen and (max-width: 640px) {
  /* ===============
    Styles for things that need to occur when the grid changes
    640px is Foundation's grid breakpoint
   =============== */
  li.venue-obj {
    width: 100%;
  }
  .thumbnail img {
    width: 100%;
  }
  .production-obj.is-broadway .details {
    display: none;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Internet Explorer < 9
   ========================================================================== */
.lte-ie9 section.repertory-list:before,
.lte-ie9 footer[role="contentinfo"]:before {
  top: -50px;
}

.lte-ie9 .top-bar:after,
.lte-ie9 #opera-love:after,
.lte-ie9 .film-radio:after {
  bottom: -50px !important;
}

.lt-ie9 img {
  width: auto;
}

.lt-ie9 .hide-for-small {
  display: inherit !important;
}

.lt-ie9 .show-for-small {
  display: none !important;
}

.lt-ie9 .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}

.lt-ie9 .row:before, .lt-ie9 .row:after {
  content: " ";
  display: table;
}

.lt-ie9 .row:after {
  clear: both;
}

.lt-ie9 .row.collapse .column,
.lt-ie9 .row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.lt-ie9 .row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.lt-ie9 .row .row:before, .lt-ie9 .row .row:after {
  content: " ";
  display: table;
}

.lt-ie9 .row .row:after {
  clear: both;
}

.lt-ie9 .row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.lt-ie9 .row .row.collapse:before, .lt-ie9 .row .row.collapse:after {
  content: " ";
  display: table;
}

.lt-ie9 .row .row.collapse:after {
  clear: both;
}

.lt-ie9 .column,
.lt-ie9 .columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

.lt-ie9 .large-1, .lt-ie9 .medium-1 {
  position: relative;
  width: 8.33333%;
}

.lt-ie9 .large-2, .lt-ie9 .medium-2 {
  position: relative;
  width: 16.66667%;
}

.lt-ie9 .large-3, .lt-ie9 .medium-3 {
  position: relative;
  width: 25%;
}

.lt-ie9 .large-4, .lt-ie9 .medium-4 {
  position: relative;
  width: 33.33333%;
}

.lt-ie9 .large-5, .lt-ie9 .medium-5 {
  position: relative;
  width: 41.66667%;
}

.lt-ie9 .large-6, .lt-ie9 .medium-6 {
  position: relative;
  width: 50%;
}

.lt-ie9 .large-7, .lt-ie9 .medium-7 {
  position: relative;
  width: 58.33333%;
}

.lt-ie9 .large-8, .lt-ie9 .medium-8 {
  position: relative;
  width: 66.66667%;
}

.lt-ie9 .large-9, .lt-ie9 .medium-9 {
  position: relative;
  width: 75%;
}

.lt-ie9 .large-10, .lt-ie9 .medium-10 {
  position: relative;
  width: 83.33333%;
}

.lt-ie9 .large-11, .lt-ie9 .medium-11 {
  position: relative;
  width: 91.66667%;
}

.lt-ie9 .large-12, .lt-ie9 .medium-12 {
  position: relative;
  width: 100%;
}

.lt-ie9 .row .large-offset-0 {
  position: relative;
  margin-left: 0%;
}

.lt-ie9 .row .large-offset-1 {
  position: relative;
  margin-left: 8.33333%;
}

.lt-ie9 .row .large-offset-2 {
  position: relative;
  margin-left: 16.66667%;
}

.lt-ie9 .row .large-offset-3 {
  position: relative;
  margin-left: 25%;
}

.lt-ie9 .row .large-offset-4 {
  position: relative;
  margin-left: 33.33333%;
}

.lt-ie9 .row .large-offset-5 {
  position: relative;
  margin-left: 41.66667%;
}

.lt-ie9 .row .large-offset-6 {
  position: relative;
  margin-left: 50%;
}

.lt-ie9 .row .large-offset-7 {
  position: relative;
  margin-left: 58.33333%;
}

.lt-ie9 .row .large-offset-8 {
  position: relative;
  margin-left: 66.66667%;
}

.lt-ie9 .row .large-offset-9 {
  position: relative;
  margin-left: 75%;
}

.lt-ie9 .row .large-offset-10 {
  position: relative;
  margin-left: 83.33333%;
}

.lt-ie9 .row .large-offset-11 {
  position: relative;
  margin-left: 91.66667%;
}

.lt-ie9 .push-1 {
  position: relative;
  left: 8.33333%;
  right: auto;
}

.lt-ie9 .pull-1 {
  position: relative;
  right: 8.33333%;
  left: auto;
}

.lt-ie9 .push-2 {
  position: relative;
  left: 16.66667%;
  right: auto;
}

.lt-ie9 .pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto;
}

.lt-ie9 .push-3 {
  position: relative;
  left: 25%;
  right: auto;
}

.lt-ie9 .pull-3 {
  position: relative;
  right: 25%;
  left: auto;
}

.lt-ie9 .push-4 {
  position: relative;
  left: 33.33333%;
  right: auto;
}

.lt-ie9 .pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto;
}

.lt-ie9 .push-5 {
  position: relative;
  left: 41.66667%;
  right: auto;
}

.lt-ie9 .pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto;
}

.lt-ie9 .push-6 {
  position: relative;
  left: 50%;
  right: auto;
}

.lt-ie9 .pull-6 {
  position: relative;
  right: 50%;
  left: auto;
}

.lt-ie9 .push-7 {
  position: relative;
  left: 58.33333%;
  right: auto;
}

.lt-ie9 .pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto;
}

.lt-ie9 .push-8 {
  position: relative;
  left: 66.66667%;
  right: auto;
}

.lt-ie9 .pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto;
}

.lt-ie9 .push-9 {
  position: relative;
  left: 75%;
  right: auto;
}

.lt-ie9 .pull-9 {
  position: relative;
  right: 75%;
  left: auto;
}

.lt-ie9 .push-10 {
  position: relative;
  left: 83.33333%;
  right: auto;
}

.lt-ie9 .pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto;
}

.lt-ie9 .push-11 {
  position: relative;
  left: 91.66667%;
  right: auto;
}

.lt-ie9 .pull-11 {
  position: relative;
  right: 91.66667%;
  left: auto;
}

.lt-ie9 .column.large-centered,
.lt-ie9 .columns.large-centered,
.lt-ie9 .columns.medium-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.lt-ie9 .column.large-uncentered,
.lt-ie9 .columns.large-uncentered {
  margin-left: 0;
  margin-right: 0;
  float: left !important;
}

.lt-ie9 .column.large-uncentered.opposite,
.lt-ie9 .columns.large-uncentered.opposite {
  float: right !important;
}

.lt-ie9 [class*="block-grid-"] {
  display: block;
  overflow: hidden;
  padding: 0;
}

.lt-ie9 [class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
}

.lt-ie9 .large-block-grid-1 {
  margin: 0;
}

.lt-ie9 .large-block-grid-1 > li {
  width: 100%;
  padding: 0 0 15px;
}

.lt-ie9 .large-block-grid-2 {
  margin: 0 -15px;
}

.lt-ie9 .large-block-grid-2 > li {
  width: 50%;
  padding: 0 15px 15px;
}

.lt-ie9 .large-block-grid-2 > li:nth-child(2n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-3 {
  margin: 0 -12px;
}

.lt-ie9 .large-block-grid-3 > li {
  width: 33.33333%;
  padding: 0 12px 12px;
}

.lt-ie9 .large-block-grid-3 > li:nth-child(3n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-4 {
  margin: 0 -10px;
}

.lt-ie9 .large-block-grid-4 > li {
  width: 25%;
  padding: 0 10px 10px;
}

.lt-ie9 .large-block-grid-4 > li:nth-child(4n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-5 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-5 > li {
  width: 20%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-5 > li:nth-child(5n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-6 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-6 > li {
  width: 16.66667%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-6 > li:nth-child(6n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-7 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-7 > li {
  width: 14.28571%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-7 > li:nth-child(7n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-8 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-8 > li {
  width: 12.5%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-8 > li:nth-child(8n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-9 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-9 > li {
  width: 11.11111%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-9 > li:nth-child(9n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-10 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-10 > li {
  width: 10%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-10 > li:nth-child(10n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-11 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-11 > li {
  width: 9.09091%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-11 > li:nth-child(11n+1) {
  clear: both;
}

.lt-ie9 .large-block-grid-12 {
  margin: 0 -8px;
}

.lt-ie9 .large-block-grid-12 > li {
  width: 8.33333%;
  padding: 0 8px 8px;
}

.lt-ie9 .large-block-grid-12 > li:nth-child(12n+1) {
  clear: both;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
 * Don't show links for images, or javascript/internal links
 */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
