/*
Theme Name: Portland Opera 2014
Version:
Description: Designed by Rally Group
Author: Rally Group
Author URI: http://rallygroup.com
*/



@import
  "fonts",
  "variables",
  "mixins";




// TEMPORARY
@media screen and (max-width: 600px) {
  html #wpadminbar {
    top: -46px !important;
  }
}






/* ==========================================================================
   Boilerplate styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $base;
}

body {
    font-size: 1em;
    line-height: 1.4;
    @extend %secondary-reg;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    position: relative;
    z-index: 9999;
    padding: 15px 40px;
    color: #f6523c;
    background: white;
    font-family: 'Helvetica', Arial, sans-serif;
    a {
      color: #f6523c;
      text-decoration: underline;
      &:hover {
        color: #b62528;
      }
    }
}


/* ===== Theme Styles ==================================================
   Author: Rally Group
   ========================================================================== */

body {

}

main[role="main"] {
  min-height: 600px;
}

// Typography
h1 {
  @extend %uppercase-bold;
  font-size: 38px;
  margin-bottom: 15px;
  @media screen and (max-width: 640px) {
    font-size: 30px;
  }
}

h2 {
  @extend %primary-bold;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 15px;
}


h4 {
  @extend %uppercase;
  @extend %secondary-bold;
  font-size: 14px;
}

.has-rule {
  padding-bottom: 10px;
  border-bottom: 1px solid #959595;

}

p, li {
  font-size: 16px;
  line-height: 1.4em;
}

a {
  color: black;
  &:hover {
    color: $base;
    text-decoration: underline;
  }
}

address {
  font-style: normal;
  font-weight: normal;
}

.left-align {
  text-align: left;
}

// _button styles

.button {
  background: transparent;
  border: 2px solid black;
  color: black;
  padding: 12px 20px;
  min-width: 180px;
  @extend %uppercase-bold;
  &:hover {
    background: black;
    border-color: $base;
    color: white;
    text-decoration: none;
  }
}
.btn-cta {
  color: $base;
  text-transform: uppercase;
  @extend %primary-reg;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}
.btn-more {
  color: $base;
  text-transform: uppercase;
  @extend %primary-bold;
  font-size: 12px;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}



// Header

header[role="banner"] {
  background: url(../images/masthead.jpg) no-repeat 0 0;
  background-size: cover;
  height: 155px;
  @media screen and (max-width: 500px) {
    height: 110px;
  }
}


.top-bar {
  height: 80px;
  padding-top: 25px;
  overflow: visible;
  z-index: 10;
  line-height: normal;
  background: $base;
  @include angle-bottom(100%, 400px, 0px, 0, $base, -2deg);

  .name {
    margin-left: 50px;
    a {
      @extend %hidetext;
      @include logo;
      width: 145px !important;
      height: 61px;
      display: block;
    }
    @media screen and (max-width: 600px) {
      margin-left: 15px;
      a {
        width: 95px;
        height: 40px;
      }
    }
  }

  .menu {
    background: $base;
    width: 235px;
    position: absolute;
    right: 50px;
    top: 80px;
    z-index: 10;
    padding: 20px;
    margin: 0;

    display: none;


    > li {
      font-size: 14px;
      line-height: 1em;
      @extend %uppercase;
      @extend %primary-reg;
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .children {
        margin-top: 10px;
        margin-left: 10px;
        li {
          font-size: 12px;
        }
      }
    }

    a {
      color: white;
      &:hover {
        color: #d0d0d0;
        text-decoration: none;
      }
    }

    @media screen and (max-width: 600px) {
      right: 0;
      //padding-top: 40px;
      width: 80%;
      > li {
        line-height: 1.5em;
        font-size: 16px !important;
        letter-spacing: 1px;
        margin-bottom: 0;
        a {
          padding: 10px 0;
          display: block;
        }
      }
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      border-top: 2px solid lighten($base, 10);
    }

  }
  &.active {
    .menu {
      display: block;
    }

  }
}



.title-area, .top-bar-section {
  z-index: 1;
}
.top-bar-section ul {
  margin-right: 50px;
}
.menu-btn {
  color: white;
  @extend %uppercase;
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 50px;
  padding-right: 25px;
  font-size: 16px;
  @extend %primary-reg;
  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
  &:after {
    content: "";
    @include sprite-global(-5px -5px, 16px, 12px);
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
  }
  @media screen and (max-width: 600px) {
    right: 15px;
  }
}



.alert-box {
  background: white;
  border: 0 0 1px 0;
  border-style: solid;
  border-color: $light-gray;
  text-align: center;
  margin: 0;
  p {
    margin: 0;
    color: $base;
    @extend %secondary-reg;
    font-size: 14px;
    text-align: center;
    position: relative;
    display: inline;
    padding-left: 30px;
  }
  .icon {
    position: absolute;
    @include sprite-global(-5px -270px, 17px, 17px);
    left: 0;
    top: 50%;
    margin-top: -9px;
    display: inline;
  }
}



#hero {
  position: relative;
  height: 450px;
  border-bottom: 1px solid $light-gray;
  .heading {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  &.has-cta {
    position: relative;
  }
  &.has-image {
    height: auto;
    img {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      .home-cta {
        position: static;
        border-top: 1px solid $light-gray;
      }
    }
  }

}


// Generic section styles
.section {
  margin: 50px 0 70px;
  &.has-rule, &.introduction {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 40px;
  }
  &:last-of-type {
    //border: none;
  }
  .btn-more {
    float: right;
  }
  &.introduction {
    text-align: center;
    p {
      line-height: 1.5em;
      @extend %serif-reg;
      font-size: 20px;
    }
  }
  &.light-on-dark {
    color: white;
    h1, h2, h3, h4, h5, p, li, a, .button {
      color: white;
    }
    .button {
      border-color: white;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
  + .custom-grid-section {
    margin-top: -60px;
  }
}

.section-intro {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  h2 {
    font-size: 34px;
    @media screen and (max-width: 640px) {
      font-size: 28px;
    }
  }
  p {
    line-height: 1.5em;
    @extend %serif-reg;
    font-size: 20px;
  }
}
.sub-sections {
  @media screen and (max-width: 640px) {
    .medium-6 {
      margin-bottom: 40px;
    }

  }
  h3 {
    @extend %uppercase-bold;
    font-size: 22px;
  }
  p {
    @extend %serif-reg;
    font-size: 16px;
  }
  .performance-details {
    font-size: 16px;
    @extend %uppercase-bold;
    color: black;
  }

}


.has-image {
/*   padding: 80px 0 160px;
  &.has-overlay {
    &:after {
      content: "";
      background: rgba();
    }
  } */
}
.has-background {
  padding: 80px 0 160px;
  background: url(../images/texture-tile.jpg) repeat 0 0;
  //background-size: cover;
  h1, h2, h3, h4, h5, p {
    color: white;
  }
}

// Homepage styles

.production-count {
  display: none; // Wait for js
}

// Opera Loves Portland section
#opera-love {
  //height: 580px;
  @include angle-bottom(100%, 100px, -100px, 0, white, 2deg);
  h2 {
    @extend %secondary-reg;
    font-size: 21px;
    color: white;
    @extend %uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 60px;
    .icon {
      @include sprite-global(-63px -189px, 36px, 35px);
      display: inline-block;
      @extend %hidetext;
      position: relative;
      top: 10px;
    }
  }
}
.opera-love-section {
  text-align: center;
  @media screen and (max-width: 640px) {
    margin-bottom: 60px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &:before {
    content: "";
    margin: 0 auto 30px;
    @include sprite-global(-5px -451px, 51px, 50px);
  }
  &.content-block-1 {
    &:before {
      background-position: -5px -451px
    }
  }
  &.content-block-2 {
    &:before {
      background-position: -67px -451px;
    }
  }
  &.content-block-3 {
    &:before {
      background-position: -130px -451px;
    }
  }
  h3 {
    @extend %primary-reg;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  p {
    @extend %serif-reg;
    font-size: 15px;
    line-height: 1.5em;
    color: white;
  }
  .more {
    color: white;
    font-size: 16px;
    @extend %primary-reg;
  }
}

.support-po {
  text-align: center;
  h2 {
    @extend %uppercase-bold;
    font-size: 35px;
    //letter-spacing: 1px;
    margin-bottom: 30px;
  }
  a:not(.button) {
    color: black;
    @extend %primary-reg;
  }
  .button {
    display: block;
    max-width: 200px;
    margin: 20px auto;
  }
  .intro {
    p {
      font-size: 24px;
      @extend %primary-reg;
    }
  }
  .caption {
    font-size: 29px;
    @extend %primary-reg;
    span {
      font-size: 16px;
      @extend %uppercase;
      text-align: left;
    }
  }
  .support-po-copy {
    p {
      text-align: left;
      @extend %serif-reg;
      font-size: 18px;
      line-height: 29px;
    }

  }
}

.home-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.85);
  padding: 30px 0 20px;
  text-align: center;
  p {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 0;
  }
  .btn-cta {

  }
  @media screen and (max-width: 768px) {
    padding: 15px 0 10px;
      p {
        font-size: 16px;
      }
    }
}



.venue-obj {
    .image-wrapper {
      position: relative;
    }
    .thumbnail {

    }
    .details {
      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: none !important;
      background: rgba(0,0,0,0.8);
      display: none;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .view-more {
      width: 100%;
      color: white;
      font-weight: normal;
      font-size: 14px;
      display: block;
      top: 50%;
      position: absolute;
      margin-top: -30px;
      text-align: center;
      @extend %primary-reg;
      @extend %uppercase;
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-86px -313px, 30px, 30px);
      }
      &:hover {
        text-decoration: none;
      }
    }

    h3 {
      @extend %uppercase-bold;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover {
      .details {
        display: block;
      }
    }
  }

// All Production-object styles
.close-reveal-modal {
	z-index: 1000;
}

.production-obj {
  position: relative;
  .thumbnail {
    display: block;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }

  }
  .details {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0.625rem;
    right: 0.625rem;
    bottom: 1.25rem;
    display: none;
  }
  .details-upper {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
  }
  .production-title {
    font-size: 19px;
    line-height: 1.1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
  }
  .production-date {
    text-align: center;
    font-size: 14px;
    color: #d0d0d0;
  }
  .view-more, .tickets {
    display: block;
    width: 50%;
    position: absolute;
    text-align: center;
    @extend %uppercase;
    //padding: 40% 0 60%;
  }
  .view-more {
    left: 0;
  }
  .tickets {
    right: 0;
  }
  .no-tickets {
    .view-more {
      width: 100%;
      float: none;
    }
  }


  // Broadway
  &.is-broadway {
    a {
      color: white;
    }
    .thumbnail {
      border: 2px solid black;
    }
    .details {
      background: rgba(0,0,0,0.85);
      color: white;
    }
    .view-more, .tickets {
      bottom: 0;
      height: 100px;
      padding: 0;
      font-size: 11px;
      font-weight: normal;
    }
    .view-more {
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-86px -313px, 30px, 30px);
      }
    }
    .tickets {
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-138px -263px, 30px, 30px);
      }
    }

  }

  // Opera
  &.is-opera {
    a {
      color: black;
    }
    .thumbnail {
      border: 2px solid $light-gray;
    }
    .details {
      background: rgba(255,255,255,0.85);

    }
    .view-more, .tickets, p.sorry {
      bottom: 50%;
      max-height: 100%;
      margin-bottom: -31px;
    }

    .sorry {
      width: 20%;
      margin-left: 60%;
      margin-top: 15%;
      text-align: center;
    }

    .view-more {
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-5px -313px, 30px, 30px);
      }
    }
    .tickets {
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-63px -264px, 29px, 30px);
      }
    }

    &.is-large {
      .details {
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.no-touch {
  .production-obj {
    &:hover {
      .details {
        display: block;
      }
    }
    &.is-opera {
      &:hover {
        .details {
          border: 2px solid $light-gray;
        }
      }
    }
    &.is-broadway {
      &:hover {
        .details {
          border: 2px solid #d0d0d0;
          @media screen and (max-width: 850px) {
            display: none;
          }
        }
      }
    }
  }
}

.home-opera-lineup {
  .production-obj {
    .image-wrapper {
      position: relative;
    }
    .details {
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: none !important;
      background: rgba(0,0,0,0.8);
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .view-more {
      width: 100%;
      color: white;
      font-weight: normal;
      font-size: 14px;
      &:before {
        content: "";
        display: block;
        margin: 0 auto 10px;
        @include sprite-global(-86px -313px, 30px, 30px);
      }
    }

    h3 {
      font-size: 14px;
      @extend %secondary-reg;
      @extend %uppercase;
      margin-top: 7px;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.btn-photos {
  @extend %uppercase-bold;
  color: black;
  padding-left: 35px;
  display: block;
  &:before {
    content: "";
    @include sprite-global(-5px -377px, 25px, 17px);
    position: absolute;
    left: 0;
  }
}

.button.btn-photos {
  display: inline-block;
  padding-left: 50px;
  &:before {
    left: 30px;
  }
  &:hover {
    &:before {
      background-position: -5px -410px;
    }
  }
}

.orbit-timer {display: none;}

#photo-gallery {
  border: none;
  background: transparent;
  box-shadow: none;
  .close-reveal-modal {
    color: white;
  }
}


.broadway-sponsor {
  margin-bottom: 40px;
}

.featured-image {
  position: relative;
  img {
    width: 100%;
    height: auto;
    @media screen and (max-width: 640px) {
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .launch-gallery {
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .btn-photos {
      position: absolute;
      bottom: 20px;
      right: 15px;
      color: white;
      &:before {
        background-position: -5px -410px;
      }
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  &:hover {
    .launch-gallery {
      opacity: 1;
    }
  }

}


.intro-image {
  img {
    width: 100%;
  }
}


.film-series {
  &:before {
    content: "";
    margin: 0 auto 30px;
    @include sprite-global(-5px -520px, 43px, 51px);
  }
}
.radio-broadcasts {
  &:before {
    content: "";
    margin: 0 auto 30px;
    @include sprite-global(-69px -516px, 48px, 51px);
  }
}


/* Expanding Content Sections */
.expandable-content {
  background: $lighter-dark-gray;
  margin-bottom: 2px;
  h1, h2, h3, h4, h5, h6, p, li, a {
    color: white;
  }
  .panel {
    cursor: pointer;
    color: white;
    background: $base url(../images/texture-tile.jpg) repeat 0 0;
    //background-size: cover;
    border: none;
    padding: 30px 0;
    &:hover {
      opacity: 0.8;
    }
    > .row > .medium-12 {
      padding-left: 30px;
    }
    h2 {
      font-size: 20px;
      @extend %primary-reg;
      line-height: 1.1em;
      letter-spacing: 1px;
      float: left;
      margin: 0 20px 0 0;
      position: relative;
      padding-left: 25px;
    }
    .intro {
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      @media screen and (max-width: 640px) {
        display: none;
      }
      p {
        color: $light-gray;
        font-size: 14px;
        line-height: 1em;
        margin-top: 7px;
        margin-bottom: 0;
      }
    }
    .link-list {
      list-style: none;
      margin: 0;
      display: inline-block;
      li {
        display: inline;
        margin-right: 20px;
        font-size: 13px;
        line-height: 1em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .icon {
    @include sprite-global(-3px -211px, 15px, 15px);
    position: absolute;
    left: 0;
    margin-top: 3px;
  }
  .inner-content {

    display: none;
    overflow: hidden;
    > .row {padding: 60px 0;}
    h2 {
      @extend %primary-reg;
      font-size: 35px;
      text-transform: none;
    }
    p {
      @extend %serif-reg;
      font-size: 16px;
      line-height: 1.5em;
      a {
        text-decoration: underline;
      }
    }
    ul {
      margin: 0;
      li {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }

  }

  &.open {
    margin-bottom: 0;
    .inner-content {
      display: block;
      padding: 20px;
    }
    .panel {
      .intro {
        opacity: 0;
        visibility: hidden;
      }
    }
    .icon {
      background-position: -1px -241px;
    }
  }
}

// Section Typography
.expandable-content.ticket-info.open .inner-content {
  padding: 0;
}
.ticket-info {
  .inner-content {
    h2 {
      text-transform: none;
      font-size: 35px;
      @extend %primary-reg;
    }
    .link-list {
      list-style: none;
      margin: 40px 0 0 40px;
      li {
        font-size: 14px;
        @extend %uppercase-bold;
      }
    }
    p {
      strong {
        @extend %secondary-bold;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}

.individual-tickets-info {
  margin: 40px 0 0 40px;
  p {
    font-size: 14px;
    font-style: italic;
  }
}

.pagename-operas,
.pagename-broadway,
.single-production,
.single-event,
.pagename-venues,
.pagename-support,
.pagename-about,
.pagename-community {
  .footer-color-cap {
    margin-top: 0;
  }
}
.pagename-broadway, .pagename-support, .pagename-about, .pagename-community, .pagename-experience {
  .section.introduction {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .ticket-info {
    margin-top: 2px;
  }
}




section.repertory-list {
  @include angle-top(100%, 100px, 0px, 0, white, 2deg);
  transform-origin: left center;
  padding: 160px 0 60px;
  margin-bottom: 0;
}


.one-half {
  width: 50%;
  &.left {
    float: left;
    border-right: 1px solid $base;
  }
  &.right {
    float: right;
  }
  .inner-wrapper {
    width: 500px;
  }
}

.two-thirds {
  width: 60.909090909091%;
  .inner-wrapper {
    width: 620px;
  }
  &.left {
    float: left;
    border-right: 1px solid $base;
  }
  &.right {
    float: right;
    border-left: 1px solid $base;
  }
  &:first-of-type {
    border-bottom: 1px solid $base;
  }

}
.one-third {
  width: 39.090909090909%;
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
  .inner-wrapper {
    width: 380px;
  }
}
.panel {
  margin: 0;
}
.left {

  .inner-wrapper {
    float: right;
    padding: 40px 40px 40px 0;

  }
}

.light {
  .left, .right, .first-of-type, .one-third, .two-thirds, .one-half {
    border-color: $light-gray;
  }
}
.one-third, .two-thirds, .one-half {
  @media screen and (max-width: 640px) {
    float: none;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: $dark-gray;
    .inner-wrapper {
      width: 100% !important;
      padding: 40px 15px !important;
      float: none !important;
      margin: 0 !important;
    }
  }
}
.light {
  .one-third, .two-thirds, .one-half {
      @media screen and (max-width: 640px) {
      border-color: $light-gray;
    }
  }
}

.two-columns {
  @media screen and (min-width: 641px) {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
      -moz-column-gap: 30px; /* Firefox */
      column-gap: 30px;
    }

  ul {
    list-style: inside;
    li {
      margin-bottom: 15px !important;
    }
  }
}

.inner-wrapper {
  max-width: 95%;
}



// Event Detail
.single .sidebar {
  .social-links {
    margin-top: 15px;
    li {
      a {
        @include sprite-global(-19px -620px, 24px, 24px);
        &.fb {
          background-position: -14px -620px;
        }
        &.tw {
          background-position: -48px -620px;
        }
        &.gl {
          background-position: -88px -620px;
        }
      }
    }
  }
}

.pagename-venues {
  .experience.section {
    margin-bottom: 0;
    padding-bottom: 80px;
    p {
      @extend %secondary-reg;
      margin-bottom: 30px;
    }
  }
}


// Venue Detail
.single-venue {
  .introduction {
    margin-bottom: 0;
  }
  .getting-here {
    margin: 0;
    padding-bottom: 0;
  }
  .getting-here, .accessibility {
    h2 {
      font-size: 26px;
    }
    h3 {
      @extend %uppercase-bold;
      font-size: 16px;
    }
    p {
      font-size: 16px;
      line-height: 1.5em;
      @extend %serif-reg;
    }
  }
}

.section.accessibility {
  border-top: 1px solid $light-gray;
  margin-top: 0;
  padding-top: 60px;
}


.right {
  .inner-wrapper {
    float: left;
    padding: 40px 0px 40px 40px;

  }
}

// Broadway Page
.section.repertory-list {
  text-align: center;
  .btn-cta {
    @extend %uppercase-bold;
    color: white;
  }
}

// Ticket Information Page
.pagename-ticket-information {
  .introduction {
    .btn-cta {
      text-transform: none;
      font-size: 18px;
    }
  }
}
.btn-cta {

}


// Production Detail styles

.production-content {
  .title {
    @extend %primary-reg;
    font-size: 71px;
    line-height: 1em;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 500px) {
      font-size: 34px;
    }

  }
}

// Production Detail

.single-production {
  .sidebar {
/*     width: 38.636363636364%;
    float: left;
     */
     border-right: 1px solid $light-gray;
    .inner-wrapper {
      float: right;
      width: 290px;
      padding: 80px 50px 50px 0;
      font-size: 14px;
    }

  }
  .production-content {
/*     width: 61.363636363636%;
    float: right; */
    border-left: 1px solid $light-gray;
    left: -1px;
    position: relative;
    .inner-wrapper {
      float: left;
      width: 590px;
      padding: 80px 0px 50px 50px;
    }
    p {
      @extend %serif-reg;
      font-size: 16px;
      line-height: 1.5em;
    }
    .excerpt p {
      font-size: 25px;
      line-height: 34px;
      @extend %secondary-reg;
      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 1.4em;
      }
    }
  }

}

.production-copy {
  p {
      @extend %serif-reg;
      font-size: 16px;
      line-height: 1.5em;
    }
    .excerpt {
      font-size: 25px;
      line-height: 34px;
      @extend %secondary-reg;
      @media screen and (max-width: 500px) {
        font-size: 18px;
        line-height: 1.4em;
      }
    }
}

.production-media {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 50px 0 50px 50px;
  margin-left: -50px;
  > ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      @extend %uppercase-bold;
      font-size: 14px;
      padding-left: 40px;
      position: relative;
      width: 32%;
      width: calc(32% - 15px);
      margin-bottom: 25px;
      margin-left: 15px;
      @media screen and (max-width: 900px) {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
      &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
        }
      a {
        color: black;
      }
      &.photos {
        &:before {
          @include sprite-global(-5px -377px, 25px, 17px);
          margin-top: -9px;
        }
      }
      &.videos {
        &:before {
          @include sprite-global(-65px -378px, 32px, 16px);
          margin-top: -8px;
        }
      }
      &.audio {
        &:before {
          @include sprite-global(-135px -375px, 28px, 21px);
          margin-top: -11px;
        }
      }
    }
  }
}

.sidebar {
  font-size: 14px;
  .tickets {
    @extend %uppercase;
    @extend %primary-reg;
    padding-left: 41px;
    position: relative;
    &:before {
      content: "";
      @include sprite-global(-63px -263px, 29px, 30px);
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -16px;
    }
  }
}


.production-extras, .production-media {
  padding-top: 50px;
  .content {
    em {
      color: #999999;
      @extend %secondary-reg;
      font-size: 14px;
    }
    ul {
      list-style: none;
      margin: 0;
      li {
        margin-bottom: 15px;
        font-size: 14px;
        @extend %secondary-reg;
        strong {
          display: block;
        }
      }
    }
  }
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: black;
  color: white;
  padding: 14px;
  @extend %uppercase-bold;
  font-size: 14px;
  &:hover {
    background: $base;
  }
}
.accordion-navigation {
  //margin-top: 1px;
  border-top: 2px solid $dark-gray;
}
.extras-type, .media-type {
  position: relative;
  padding-left: 40px !important;
  &:before {
    content: "";
    @include sprite-global(-35px -211px, 15px, 15px);
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -7px;
  }
  &.active {
    &:before {
      background-position: -34px -241px;
    }
  }
}

// Image Gallery
.orbit-container .orbit-slides-container img {
  width: 100%;
}

.orbit-container {
  .orbit-prev, .orbit-next {
    //top: 200px;
  }
}

@media only screen and (max-width: 40em) {
  a.orbit-next, a.orbit-prev, .orbit-bullets {
    display: block;
  }
}

.close-reveal-modal {
  &:hover {
    text-decoration: none;
  }
}

.sidebar {
  .clearfix {
    margin-bottom: 40px;
  }
}

.related-productions {
  h4 {
    text-transform: none;
    letter-spacing: normal;
  }
  ul {
    list-style: none;
    margin: 20px 0;
    li {
      clear: both;
      margin-bottom: 15px;
      float: left;
      width: 100%;
      img {
        float: left;
        margin-right: 15px;
      }
      h5 {
        @extend %uppercase;
        @extend %secondary-bold;
        font-size: 14px;
      }
    }
  }
}

.nav-section {
  margin: 0;
  padding: 25px 0;
  border-top: 1px solid $light-gray;
}

.production-nav {
  clear: both;
  list-style: none;
  margin: 0;
  li {
    width: 50%;
    float: left;
    font-style: italic;
    @extend %secondary-reg;
    font-size: 14px;
    &.prev {
      text-align: left;
    }
    &.next {
      text-align: right;
      float: right;
    }
    a {
      color: #999999;
    }
  }
}



// Ticket Information Page


.purchase-methods {
  text-align: left;
  margin-bottom: 80px;
  h3 {
    font-size: 19px;
    @extend %uppercase-bold;
    //@extend %primary-reg;
    margin-bottom: 20px;
    @media screen and (max-width: 640px) {
      margin-top: 40px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      font-size: 16px;
      @extend %primary-reg;
      a {
        color: black;
      }
    }
  }
  p {
    margin-top: 15px;
  }
  address {

    a {

    }
  }
  p, address, a {
    color: black;
    @extend %secondary-reg;
    font-size: 14px;
  }
  .phone {

    display: block;
  }

}

.venues-section {
  text-align: center;
  h2 {
    font-size: 34px;
  }
  p {
    @extend %serif-reg;
  }
}

.pre-post-events {
  .medium-6 {
    text-align: left;
    p {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 22px;
    @extend %uppercase;
    @extend %primary-reg;
    margin-bottom: 20px;
  }

}

#po-partners {
  //border-top: 1px solid $light-gray;
}

.premier-partners {
  //text-align: center;
  ul {
/*     text-align: left;
    width: 100%;
    margin: 20px 0 0 0; */
    li {
/*       display: block;
      width: 50%;
      float: left; */
    }
  }
}
li.sponsor {
  margin-bottom: 30px;
  .thumbnail {
    display: block;
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 100px;
    position: relative;
    //border-left: 4px solid $light-gray;
    //padding-right: 10px;

    img {
position: relative;
  //top: 50%;
  //transform: translateY(-50%);
    }
  }
  .details {
    margin-left: 90px;
  }
  h5 {
    @extend %secondary-bold;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 0;
  }
  a {
    color: black;
  }
  .website {
    @extend %secondary-reg;
    font-size: 14px;
  }
}
.restaurant-partners, .hotel-partners, .premier-partners {
  margin-top: 80px;
  h4 {
    margin-bottom: 20px;
  }
}


// Support Page
.individual-giving.section {
  margin-bottom: 2px;
}
.giving-level {
  position: relative;
  margin-top: 2px;
  overflow: hidden;
  .backdrop {
    position: relative;
    z-index: 0;
    img {
      width: 100%;
    }
  }
  .inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 80px 0 60px;
    background: rgba(0,0,0,0.3);
    max-width: none;
    @media screen and (max-width: 640px) {
      position: static;
      padding: 0;
      background: transparent;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.5em;
    @extend %secondary-reg;
  }
  h3 {
    @extend %primary-reg;
    font-size: 48px;
    line-height: 1.1em;
    margin-bottom: 20px;
    + p {
      font-size: 18px;
      margin-bottom: 20px;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 641px) {
    h3 {
      font-size: 35px;
      + p {
        font-size: 16px;
      }
    }
    h3, p, .button, a {
      color: $base !important;
    }
    .button {
      border-color: $base !important;
      &:hover {
        background: $base;
        color: white;
      }
    }
  }
}


// Community Page

.section.po-to-go {
  margin-top: 0;
  .launch-gallery {
    text-align: center;
    margin: 40px 0;
  }
  .intro-image {
    @include angle-bottom(100%, 200px, -100px, 0, white, -2deg);
    @media screen and (max-width: 500px) {
      &:after {height: 120px;}
    }
  }
}


.film-radio {
  text-align: center;
  @include angle-bottom(100%, 100px, -100px, 0, white, 2deg);
  h2 {
    @extend %primary-reg;
    @extend %uppercase;
    font-size: 20px;
  }
  p {
    @extend %serif-reg;
  }
  a {
    @extend %primary-reg;
    color: white;
  }
  .medium-6 > div {
    @media screen and (min-width: 641px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 640px) {
      margin-bottom: 40px;
    }

  }
}

.section.po-classes {
  .intro-image {
    @include angle-bottom(100%, 200px, -100px, 0, white, -2deg);
    @media screen and (max-width: 500px) {
      &:after {height: 120px;}
    }
  }
}


.resident-artists {
  .ra-story {
    text-align: left;
    margin-top: 40px;
    p {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}


.events-widget {
  text-align: left;
  margin-top: 80px;
  h3 {
    font-size: 14px;
    @extend %uppercase;
    @extend %primary-reg;
    color: white;
    background: black;
    padding: 10px;
  }

  .event-list {
    list-style: none;
    margin: 10px 0;
    li {
      display: block;
      //overflow: hidden;
      float: left;
      width: 100%;
      font-size: 16px;
      @extend %secondary-reg;
      line-height: 1.1em;
      margin-bottom: 10px;
    }
    .date, .title {
      float: left;
      display: block;
    }
    .date {
      width: 16.867469879518%;

    }
    .title {
      width: 68.674698795181%;
      color: black;
      line-height: 1em;
      &:hover {

      }
    }
    .btn-more {
      display: block;
      width: 12.650602409639%;
      float: right;
    }
    @media screen and (max-width: 640px) {
      .date, .title, .btn-more {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-gray;
      }
    }

  }
  .calendar-link {
    display: none; // I like this, but hiding for now
  }
}
.sidebar {
  .events-widget {
    margin-top: 0;
    margin-bottom: 40px;
    .event-list {
      .date, .title {
        font-size: 13px;
      }
      .date {
        width: 30%;
      }
      .title {
        padding-left: 10px;
      }
    }
  }
  ul {
    li {
      font-size: 12px;
      line-height: 1.1em;
      margin-bottom: 5px;
      a {
        color: black;
        text-decoration: underline;
      }
    }
  }
  p {
    font-size: 12px;
    line-height: 1.5em;
  }
}


.entry-content {
  p {
    font-size: 16px;
    line-height: 1.5em;
    @extend %serif-reg;
  }
}


.text-left {
  width: 50%;
  float: left;
  padding-right: 30px;
  @media screen and (max-width: 640px) {
    width: 100%;
    float: none;
    padding: 0;
    + .text-left {
      margin-top: 40px;
    }
  }

}




// About Page

.leadership-staff {
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  h2 {
    font-size: 34px;
    margin-top: 40px;
  }
  .directors {
    width: 80%;
    overflow: hidden;
    list-style: none;
    margin: 20px auto;
    li {
      display: block;
      width: 39%;
      float: left;
      &:last-of-type {
        float: right;
      }
      h5 {
        @extend %primary-bold;
        font-size: 16px;
        margin: 10px 0 0;
        + p {
          @extend %primary-reg;
        }
      }
      @media screen and (max-width: 500px) {
        width: 50%;
        margin-bottom: 40px;
      }
    }
  }
  .right {
    p {
      @extend %serif-reg;
      line-height: 1.5em;
    }
    a {
      @extend %primary-reg;
      font-size: 16px;
    }
  }
}

.section.po-chorus-orchestra {
  margin-top: 0;
  .intro-image {
    @include angle-bottom(100%, 200px, -100px, 0, white, -2deg);
  }
}
.section.po-history {
  .intro-image {
    @include angle-bottom(100%, 200px, -100px, 0, white, 2deg);
  }
}



// Venues Page
.venues {
  h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.1em;
    @extend %uppercase-bold;
    a {
      color: black;
    }
  }
  p {
    font-size: 13px;
  }
  .medium-block-grid-3 ul {
    list-style: none;
    margin: 10px 0 0;
    li {
      font-size: 14px;
      @extend %primary-reg;
      @extend %uppercase;
      margin-bottom: 10px;
      a {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.single-venue{
  .venue-map{
    height: 400px;
  }
}

// Contact Page
.po-contact {
  h4 {

  }
  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  .group {
    margin-bottom: 30px;
  }

  .venue-details {
    padding-bottom: 30px;
  }
}



// Calendar Page

.filters {
  @media screen and (min-width: 640px) {
    padding-left: 80px;
  }

  .help-text {
    font-size: 11px;
    color: #919191;
    max-width: 200px;
    font-style: italic;
  }
  .filter-list {
    list-style: none;
    margin: 20px 0 0 0;
    li {
      @extend %uppercase-bold;
      font-size: 14px;
      margin-bottom: 10px;
      &.active {
        text-decoration: underline;
      }
    }
  }
}
.calendar {
  .month-wrap {
    margin-bottom: 50px;
  }
  .year-label {
    font-size: 14px;
    @extend %uppercase-bold;
    color: white;
    background: black;
    padding: 10px;
    margin-bottom: 30px;
  }
  .month-label {
    margin-bottom: 20px;
  }

}
.event-obj {
  margin-bottom: 25px;
  padding: 10px 10px 0 10px;
  border: 2px solid $light-gray;
  .thumbnail {
    display: block;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    @media screen and (max-width: 768px) {
      max-width: 140px;
    }
    @media screen and (max-width: 500px) {
      float: left;
      margin-left: -10px;
      width: 72px;
      margin-right: 5px;
    }
  }
  .event-title {
    border-bottom: 2px solid $light-gray;
    margin-left: -10px;
    padding-left: 10px;
    @media screen and (max-width: 500px) {
      margin-right: -10px;
    }
  }
  .label {
    @extend %secondary-bold;
    color: #919191;
    font-size: 12px;
    @extend %uppercase;
    background: transparent;
    padding: 0;
  }
  h4 {
    @extend %secondary-reg;
    text-transform: none;
    font-size: 20px;
    letter-spacing: normal;
    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subtitle {
    p {
      font-size: 13px;
    }
  }

  .event-meta {
    margin: 0;
    list-style: none;
    padding: 10px 0;
    li {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .date {
      @extend %secondary-bold;
    }
    .venue {
      a {
        color: black;
        text-decoration: underline;
        &:hover {

        }
      }
    }
  }
}
.pre-and-post-shows {
  margin-top: -25px;
  padding: 10px;
  border-width: 0 2px 2px 2px;
  border-color: $light-gray;
  border-style: solid;
  margin-bottom: 30px;
  h5 {
    @extend %secondary-bold;
    font-size: 12px;
    display: inline;
    margin-right: 3px;
  }
  .pre-show, .post-show {
    width: 50%;
  }
  .date {
    @extend %secondary-reg;
    font-size: 13px;
  }
  .pre-show {
    float: left;
    padding-right: 10px;
  }
  .post-show {
    float: right;
    padding-left: 10px;
  }
}

.pagename-calendar {
  .introduction.section {
    margin-bottom: 30px;
  }
}

.highlights.section {
  padding-bottom: 30px;
  margin-top: 30px;
}
.highlight-obj {
  .thumbnail {
    border: 2px solid $light-gray;
    margin-bottom: 20px;
    display: block;
  }
  h5 {
    font-size: 14px;
    @extend %secondary-reg;
    margin-bottom: 0;
    a {
      color: black;
    }
    + span {
      font-size: 11px;
      @extend %secondary-reg;
      font-style: italic;
    }
  }
}


// Blog
.post-item {
  //margin-bottom: 60px;
  //padding: 60px 0;
  h2 {
    @extend %primary-bold;
    font-size: 30px !important;
    text-transform: none;
  }
  .post-meta {
    list-style: none;
    margin: 0;
    li {
      width: 50%;
      float: left;
    }
    .read-more {
      text-align: right;
    }
    .date {
      font-size: 12px;
      @extend %secondary-reg;
    }
    .more {
      @extend %uppercase-bold;
      font-size: 14px;
    }
  }
  .excerpt-content {
    margin-bottom: 30px;
  }
}

.blog {
  .section {
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-top: 0;
  }
}

.pagination {
   ul {
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 10px;
      @extend %uppercase-bold;
      font-size: 13px;
      &.active {
        a {
          color: #d0d0d0;
        }
      }
    }
  }
}

.has-breadcrumb.section {
  padding-bottom: 15px;
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 0;
}
.breadcrumbs {
  background: transparent;
  border: none;
  margin-top: 15px;
  margin-bottom: 0;
  li {
    color: #919191;
    @extend %secondary-reg;
    font-size: 12px;
    padding-right: 5px;
    text-transform: none;
    &:before {
      content: none;
    }
    a {
      color: #919191;
    }
  }
}
.single-post {
  .date {
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
  }
}
// Comprehensize post styles
.post-title {
  font-size: 31px;
  line-height: 1.1em;
  @extend %primary-reg;
  text-transform: none;
}
.entry-content { // post content hopefully always wrapped in this class
  h1 {
    font-size: 31px;
    @extend %primary-reg;
    text-transform: none;
    line-height: 1.1em;
  }

  h2 {
    font-size: 22px;
    @extend %primary-reg;
    text-transform: none;
    line-height: 1.1em;
  }
  h3 {
    @extend %uppercase-bold;
    font-size: 22px;
  }

  h5, h6 {
    @extend %secondary-reg;
  }

  blockquote {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    border: none;
    p {
      font-size: 20px;
      line-height: 30px;
      color: $dark-gray;
      @extend %primary-reg;
    }
  }

  ul, ol {
    li {
      @extend %serif-reg;
    }
  }

  // Images
  img {
    margin-bottom: 15px;
  }
  .alignright, .alignleft {
    max-width: 60%;
    margin-bottom: 15px;
  }
  .alignright {
    float: right;
    margin-left: 15px;
    clear: right;
  }
  .alignleft {
    float: left;
    margin-right: 15px;
    clear: left;
  }
  .aligncenter {
    max-width: 100%;
    clear: both;
    display: block;
    margin-bottom: 15px;
  }
  p.wp-caption-text {
    text-transform: uppercase;
    @extend %secondary-reg;
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.1em;
    margin-bottom: 0;
  }
  .wp-caption {
    max-width: 100%;
    margin-bottom: 15px;
    img {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .alignright, .alignleft, .aligncenter {
      float: none;
      max-width: 100% !important;
      margin: 15px 0;
      clear: both;
    }
  }
}

object, iframe {
  max-width: 100%;
}


// Event Detail
.single-event {
  .one-third.left {
    border-right: 1px solid $light-gray;
  }
  .two-thirds.right {
    position: relative;
    left: -1px;
  }
}




// History Page
.history-summary {
  font-size: 16px;
  @extend %serif-reg;
  p {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.content-section {
  h3 {
    font-size: 22px;
    @extend %uppercase-bold;
    margin-bottom: 30px;
  }
  ul[class*='medium-block-grid-'] {
    h4 {
      @extend %secondary-bold;
      font-size: 14px;
    }
    p, li {
      @extend %secondary-reg;
      line-height: 1.4em;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.content-area {
  p {
    @extend %serif-reg;
    line-height: 1.5em;
  }
  &.paragraph {
    .text-center {
      @media screen and (min-width: 640px) {
        padding: 0 15%;
      }
    }
  }
}

// Forms
div.gform_wrapper {
  label, input[type="text"] {
    @extend %secondary-reg;
  }

  input, select {
    margin-bottom: 5px;
  }

  select {
    padding: 5px;
  }

  div.validation_error {
    color: red;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
  li.gfield.gfield_error.gfield_contains_required {
    padding: 0 !important;
    background: none;
    border: none;

    .gfield_description.validation_message {
      color: red;
      font-weight: normal;
      font-style: italic;
      margin-top: 0;
      padding-top: 5px !important;
    }

    label {
      color: black;
      margin-bottom: 0;
    }

    input[type=text] {
      border-color: black;
      margin-bottom: 0;
    }
  }

  .gfield_required {
    color: red;
  }

  .button:focus {
    background-color: black;
  }
}

// 404 page
.error404 {
  .section.introduction {
    //float: left;

  }

  .entry-content {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    p {
      @extend %uppercase-bold;
    }
    ol {
      margin: 0;
      //list-style: none;
      text-align: left;
      li {
        @extend %secondary-reg;
        font-size: 16px;
        margin-bottom: 10px;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}




// Footer

.footer-color-cap {
  height: 90px;
  margin-top: 40px;
  background: url(../images/masthead.jpg) no-repeat 0 0;
  background-size: cover;
  width: 100%;
  @media screen and (max-width: 500px) {
    height: 40px;
  }
}

footer[role="contentinfo"] {
  background: $dark-gray;
  color: white;
  padding-top: 50px;
  @include angle-top(100%, 100px, 0, 0, $dark-gray, 2deg);
  h1, h2, h3, h4, h5, a {
    color: white;
  }
  h4 {
    font-size: 14px;
    margin-bottom: 15px;
    @extend %uppercase-bold;
  }
  address {
    font-size: 12px;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 20px;
    .icon {
      @include sprite-global(-5px -181px, 10px, 15px);
      display: inline-block;
      margin-left: 10px;
    }
  }
  .subscribe {
    @extend %uppercase-bold;
    font-size: 13px;
    position: relative;
    .icon {
      @include sprite-global(-5px -594px, 12px, 12px);
      position: absolute;
      right: -20px;
      top: 0;
    }
  }
  .po-hours {
    p {
      font-size: 12px;
      line-height: 1.5em;
    }
  }
  .phone {
    font-size: 12px;
  }
  .legal {
    text-align: right;
    font-size: 11px;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    @media screen and (max-width: 640px) {
      text-align: left;
      margin-top: 20px;
    }
  }
  .group + .group {
    margin-top: 40px;
  }

  @media screen and (max-width: 640px) {
    .columns {
      margin-bottom: 40px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.footer-nav {
  background: $base;
  padding: 15px 0 50px;
  margin-top: 40px;
  ul {
    list-style: none;
    text-align: left;
    line-height: 1em;
    margin: 0;
    li {
      display: inline;
      padding-right: 20px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      a {
        color: #d0d0d0;
      }
    }
  }

}

.social-links {
  margin: 0;
  li {
    display: inline-block;
    margin-right: 12px;
    a {
      @extend %hidetext;
      @include sprite-global(-5px -42px, 31px, 31px);
      &.fb {
        background-position: -5px -133px;
      }
      &.tw {
        background-position: -5px -42px;
      }
      &.yt {
        background-position: -5px -87px;
      }
    }
  }
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 500px) {

/* ====================
    Styles specific for mobile devices
   ==================== */

   .single-venue .introduction {
    float: left;
   }

  .section.introduction {

  }
}

@media only screen and (max-width: 768px) {

/* ====================
    Styles for tablets & below
   ==================== */


}

@media only screen and (max-width: 640px) {

/* ===============
    Styles for things that need to occur when the grid changes
    640px is Foundation's grid breakpoint
   =============== */
  li.venue-obj {
    width:100%;
  }

.thumbnail img {
  width:100%;
}

.production-obj.is-broadway .details {
  display: none;

}


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

@import "helpers";

/* ==========================================================================
   Internet Explorer < 9
   ========================================================================== */

@import "ie";


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    @import "print";
}
