.abp-notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    color: #333;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: 12px;
    background-color: orangered;
    border-bottom: 1px solid red;
    z-index: 100;
}