
/* Admin Menu */
#adminmenu div.wp-menu-image{
  height: 24px;
  overflow: hidden;
}

#adminmenu * div.wp-menu-image img{
  position: relative;
  top: -24px;
}

#adminmenu *:hover div.wp-menu-image img,
#adminmenu *.wp-menu-open div.wp-menu-image img{
  top: 0px;
}

/** hide pre and post show times on events **/

.post-type-event #acf-production_times  table.acf-input-table table.acf_input tr{
    display: none;
}

.post-type-event #acf-production_times  table.acf-input-table table.acf_input tr:nth-child(1){
    display: block;
}