@import url(forms.css);
@import url(l10n.css);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #222;
}

body {
    background: #222;
    min-width: 0;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

a {
    color: #0074a2;
    -webkit-transition-property: border, background, color;
    transition-property: border, background, color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

a {
    outline: 0;
}

a:hover,
a:active {
    color: #2ea2cc;
}

a:focus {
    color: #124964;
}

a:focus,
a:active {
    outline: thin dotted;
}

p {
    line-height: 1.5;
}

.login .message {
    border-left: 4px solid #7ad03a;
    padding: 1px 12px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.login #login_error {
    border-left: 4px solid #dd3d36;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#loginform p.submit,
.login-action-lostpassword p.submit {
    border: none;
    margin: -10px 0 20px; /* May want to revisit this */
}

.login * {
    margin: 0;
    padding: 0;
}

.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: normal;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

.login form .forgetmenot {
    font-weight: normal;
    float: left;
    margin-bottom: 0;
}

.login .button-primary {
    float: right;
}

#login form p {
    margin-bottom: 0;
}

#login form p.submit {
    margin: 0;
    padding: 0;
}

.login label {
    font-family: "Gill Sans", sans-serif;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.login form .forgetmenot label {
    font-size: 12px;
    line-height: 19px;
}

.login h1 {
    text-align: center;
}

.login h1 a {
    background-image: url(../images/site-login-logo.png);
    background-image: none, url(../images/site-login-logo.png);
    -webkit-background-size: 200px 75px;
    background-size: 200px 75px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #999;
    height: 75px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 200px;
    text-indent: -9999px;
    outline: none;
    overflow: hidden;
    display: block;
}

#login {
    width: 320px;
    padding: 8% 0 0;
    margin: auto;
}

#login_error,
.login .message {
    margin-left: 0;
    padding: 12px;
}

.login #nav,
.login #backtoblog {
    font-size: 13px;
    padding: 0 24px 0;
}

.login #nav {
    margin: 24px 0 0 0;
}

#backtoblog {
    margin: 16px 0 0 0;
}

.login #nav a,
.login #backtoblog a {
    text-decoration: none;
    color: #999;
}

.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
    color: #2ea2cc;
}

.login form .input,
.login input[type="text"] {
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"] {
    background: #fbfbfb;
}

.ie7 .login form .input,
.ie8 .login form .input {
    font-family: sans-serif;
}

.login #pass-strength-result {
    width: 250px;
    font-weight: 600;
    margin: 12px 0 6px;
    padding: 6px 5px;
    text-align: center;
}

.mobile #login {
    padding: 20px 0;
}

.mobile #login form,
.mobile #login .message,
.mobile #login_error {
    margin-left: 0;
}

.mobile #login #nav,
.mobile #login #backtoblog {
    margin-left: 8px;
}

.mobile #login h1 a {
    width: auto;
}

body.interim-login {
    height: auto;
}

.interim-login #login {
    padding: 0;
    margin: 5px auto 20px;
}

.interim-login.login h1 a {
    width: auto;
}

.interim-login #login_error,
.interim-login.login .message {
    margin: 0 0 16px;
}

.interim-login.login form {
    margin: 0;
}

@-ms-viewport {
    width: device-width;
}

@media screen and ( max-width: 782px ) {
    .interim-login input[type=checkbox] {
        height: 16px;
        width: 16px;
    }

    .interim-login input[type=checkbox]:checked:before {
        width: 16px;
        font: normal 21px/1 'dashicons';
        margin: -3px 0 0 -4px;
    }
}